<div id="global">
<h2>Two</h2>



<div class="container signupRoad">
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">

    </div>
    <div class="col-xs-1"></div>
  </div>



  <!--Check IF the user is verified to continue signup-->

    <!--<div *ngIf="status == 200" class="alert alert-success infoMessage">-->
    <!--<strong>Success!</strong> {{infoMessage}}-->
    <!--</div>-->




      <h2>Enregistrer votre  <font style="color:#0071bc;">Team</font></h2>
      <p>Vous pouvez maintenant crée votre propre équipe. <br>Dans un premier temps complété les infos général.</p>

      <div id="side">
        <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
        <div class="col-md-12 board">
          <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->

          <div class="board-inner">
            <ul class="nav nav-tabs" id="myTab">
              <div class="liner">
                <div id="blueText">
                  Etapes
                </div>

              </div>
              <li class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab" title="Rentrer les infos personnelles">
                      <span class="round-tabs one">
                              <i class="icon icon-profile-male"></i>
                      </span>
                </a></li>

              <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" title="Séléctionner les jeux">
                     <span class="round-tabs two">
                         <i class="icon icon-pencil"></i>
                     </span>
              </a>
              </li>
              <li><a href="#prototyping" aria-controls="prototyping" role="tab" data-toggle="tab" title="Prototyping">
                     <span class="round-tabs three">
                          <i class="icon icon-layers"></i>
                     </span> </a>
              </li>

              <li><a href="#uidesign" aria-controls="uidesign" role="tab" data-toggle="tab" title="UI Design">
                         <span class="round-tabs four">
                              <i class="icon icon-aperture"></i>
                         </span>
              </a></li>

              <li><a href="#doner" aria-controls="doner" role="tab" data-toggle="tab" title="Development">
                         <span class="round-tabs five">
                              <i class="icon icon-tools-2"></i>
                         </span> </a>
              </li>

            </ul></div>
        </div>
      </div>
      <app-blue-separation-bar-small></app-blue-separation-bar-small>



        <hr>

        <router-outlet></router-outlet>

        <hr>


        <app-blue-separation-bar-small></app-blue-separation-bar-small>

    </div>


</div>



