<div class="banner">
  <app-player-account-banner [game_id]="game_id"></app-player-account-banner>
</div>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<div class="container">
  <div *ngIf="participants">
    <div class="row profil-banner">
      <div class="col-md-2 avatar">
        <img src="../../../../assets/images/hexapic_profil.png" class="img-profile">
      </div>
      <div class="row col-md-10" *ngIf="toornamentObj">
        <div class="col-md-4 text-info">
          <h2 class="nameTournament" *ngIf = "toornamentObj.name.length <= 19; else elseBlock">
            <img src="../../../../assets/images/toornament_flag/{{toornamentObj.country}}.png" id="flag">
            <p>{{toornamentObj.name}}</p>
          </h2>
          <ng-template #elseBlock>
            <h2 class="nameTournament-long">
              <img src="../../../../assets/images/toornament_flag/{{toornamentObj.country}}.png" id="flag">
              <p>{{toornamentObj.name}}</p>
            </h2>
          </ng-template>
          <h2>{{toornamentObj.platforms[0]}} {{toornamentObj.discipline}}</h2>
        </div>
       <div class="col-md-4">
         <h2>By {{toornamentObj.organization}}</h2>
         <h2><i style="font: normal normal normal 14px/1 FontAwesome; font-size: xx-large; " class="fa fa-calendar" aria-hidden="true"></i> {{toornamentObj.date_start}}</h2>
        </div>
        <div class="col-md-4">
          <h2>Nombre de participants :</h2>
          <h2> {{participants.length}}/{{toornamentObj.size}}</h2>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="subMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <ul class="col-md-10 tab">
        <li (click)="changeOnglet($event, 'informations')" class="tablinks active">INFORMATIONS</li>
        <li (click)="changeOnglet($event, 'participants')" class="tablinks">PARTICIPANTS</li>
        <li (click)="changeOnglet($event, 'matches')" class="tablinks">MATCHES</li>
      </ul>
    </div>
  </div>
</div>

<div class="content">

<app-informations *ngIf="toornamentObj" [prize]="toornamentObj.prize" [rules]="toornamentObj.rules" [description]="toornamentObj.description"></app-informations>
</div>

<app-informations class="displayNone" *ngIf="toornamentObj" [prize]="toornamentObj.prize" [rules]="toornamentObj.rules" [description]="toornamentObj.description"></app-informations>
<app-matches class="displayNone"></app-matches>
<app-participants class="displayNone"></app-participants>
