<div class="banner">
  <img class="imageHeader" src="../../../../assets/images/banner-csgo-01.png">
  <!--<img class="imageHeader" src="../../../../assets/images/banner-{{response.game._id}}.png">-->
</div>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<div class="container">
  <div class="row profil-banner">
    <div class="col-md-2 avatar">
      <img src="../../../../assets/images/hexapic_profil.png" class="img-profile">
    </div>
    <div class="row col-md-10">
      <div class="col-md-4 text-info">
        <h2><img src="../../../../assets/images/FR.png" id="flag">{{tournament.Name}}</h2>
      <!--<h1><img src="../../../../assets/images/{{userGetById.country}}.png" id="flag">{{userGetById.username}}</h1>
      <!--id="provenance"-->
        <h2>{{tournament.Plateform}} {{tournament.Game}}</h2>
      </div>
     <div class="col-md-4">
       <h2>By {{tournament.Creator}}</h2>
       <h2><i class="fa fa-calendar" aria-hidden="true"></i> {{tournament.Date}}</h2>
      </div>
      <div class="col-md-4">
        <h2>Nombre de participants :</h2>
        <h2> {{tournament.PlaceLoked}}/{{tournament.TotalPlace}}</h2>
      </div>
    </div>
  </div>
</div>



<div class="subMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <ul class="col-md-10 tab">
        <li (click)="changeOnglet($event, 'informations')" class="tablinks active">INFORMATIONS</li>
        <li (click)="changeOnglet($event, 'participants')" class="tablinks">PARTICIPANTS</li>
        <li (click)="changeOnglet($event, 'matches')" class="tablinks">MATCHES</li>
      </ul>
    </div>
  </div>
</div>

<div class="content">
</div>
<app-informations></app-informations>
<app-matches></app-matches>
<app-participants></app-participants>
