<div class="banner">
  <app-player-account-banner [game_id]="game_id"></app-player-account-banner>
</div>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<div class="container">
  <div class="row profil-banner" *ngIf="toornamentObj">
    <div class="col-md-2 avatar">
      <div _ngcontent-c10="" class="hexagon hexagon1">
        <div _ngcontent-c10="" class="hexagon-in1">
          <div _ngcontent-c10="" class="hexagon-in2" *ngIf="toornamentObj.logo != null; else elseblockpic" [ngStyle]="{'background-image': getUrl(toornamentObj.logo.logo_large)}"></div>
          <ng-template #elseblockpic>
            <div _ngcontent-c10="" class="hexagon-in2"></div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>



<div class="subMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <ul class="col-md-10 tab">
        <li (click)="changeOnglet($event, 'informations')" class="tablinks active">INFORMATIONS</li>
        <li (click)="changeOnglet($event, 'participants')" class="tablinks">PARTICIPANTS</li>
        <li (click)="changeOnglet($event, 'matches')" class="tablinks">MATCHES</li>
      </ul>
    </div>
  </div>
</div>

<div class="content">

<app-informations *ngIf="toornamentObj" [prize]="toornamentObj.prize" [rules]="toornamentObj.rules" [description]="toornamentObj.description"></app-informations>
</div>

<app-informations class="displayNone" *ngIf="toornamentObj" [prize]="toornamentObj.prize" [rules]="toornamentObj.rules" [description]="toornamentObj.description"></app-informations>
<app-matches class="displayNone"></app-matches>
<app-participants class="displayNone"></app-participants>
