<div *ngIf="userGetById" class="container signupRoad">
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
  <h1>BIENVENUE {{userGetById.username}},</h1>

  <!--Check IF the user is verified to continue signup-->
  <div *ngIf="status">
    <div *ngIf="status == 401" class="alert alert-danger errorMessage">
      <strong>Error!</strong> {{errorMessage}}
      <!--<button type="button"><a href="/signup/">Réinscription</a></button>-->
    </div>
  </div>

  <div *ngIf="verifiedCodeTemp == 'VERIFIED'" id="verified">
    <h2><font style="color:#0071bc;">Conditions générales d'utilisation</font></h2>

    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3 col-sm-8 col-8"></div>
      <div class="col-md-3 col-sm-4 col-4">
        <img id="step" src="../../../../../assets/images/step5.png" alt="5 / 5">
      </div>
    </div>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>


    <form (ngSubmit)="onSubmit($event)" #step0Form="ngForm" class="form-group">
      <div>
        Vous devez accepter les <a href="" target="_blank"><font style="color:#0071bc;">conditions générales d'utilisation</font></a> pour valider votre compte.
      </div>
      <div class="form-group row">
        <div class="col-sm-7">
        </div>
        <div class="col-sm-2">
          <button type="submit" class="myButton">J'accepte</button>
        </div>
        <div class="col-sm-3">
          <button type="button" (click)="cancelSignup()" class="myButton">Annuler l'inscription</button>
        </div>
      </div>
    </form>
  </div>
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
</div>
