.window
{
  background-color: #1C1C1B;
  position: fixed;
  right: 0%;
  top: 0%;
  left: 0%;
  bottom: 0%;
}
.menuWindow
{
  background-color: black;
  position: absolute;
  right: 0%;
  left: 0%;
  top: 0%;
  bottom: 87%;
}
.contentWindow
{
  background-color: #232323;
  padding: 5%;
  border-left: solid white 1px;
  border-right: solid white 1px;
  margin-top: 0.50%;
}
.blueLine
{
  background: radial-gradient(ellipse at center, rgba(30,87,153,1) 0%,rgba(125,185,232,0) 60%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  display: block;
  position: absolute;
  height: 2%;
  left: -50%;
  right: -50%;
}
.mainWindow
{
  position: absolute;
  top:13%;
  left: 15%;
  right: 15%;
}
.titleConnect
{
  font-family: "Rhanoll";
  font-size: 3em;
  color: white;
}
.subtitleConnect
{
  font-family: "Rhanoll";
  font-size: 2em;
  color: royalblue;
  padding: 0;
}
.connectWindow
{
  position: absolute;
  top: 25%;
  right: 0%;
  width: 25%;
  padding: 5%;
  text-align: center;
}

@font-face
{
  font-family: "Rhanoll";
  src: url("../../../../assets/fonts/rhanoll/Rhanoll.ttf");
}
