* {
  font-family: Rhanoll;
}
.globalDetails {
  margin: 5em auto 0 auto;
  width: 70vw;
}

img {
  max-height: 100px;
  margin-top: -5em;
}

td {
  text-align: center;
  color: white;
}

.Details {
  margin: 2em auto 2em auto;
}

canvas {

  width: 150px !important;
  height: 75px !important;
  margin: auto;

}
