* {
  font-family: Rhanoll;
}
.globalDetails {
  margin: 5em auto 0 auto;
  width: 70vw;
}


.imgBackground{
  background-image: url("../../../../assets/images/hexa_game/checked/picto_empty.png");
  min-height: 100vh;
}
img {
  max-height: 100px;
  margin-top: -5em;
}

.imgDetails{
  display: flex;
  margin-top: -3em;

}

.PlayerName{
  font-size: 80px;
  margin-top: -45%;
}

.AllStats{
  display: flex;
  margin-left: 5em;
}
.TableStats{
  width: 45%;
}

.CaseStatCircle{
  width: 45%;
  margin-left:4em;
}

.StatCircle{
  display: flex;
  padding-bottom:0.8em;
}

img {
  position: relative;
  max-height: 150px;
  margin-top: -9.6em;
  z-index: 3;
}

canvas {

  width: 150px !important;
  height: 75px !important;
  margin: auto;

}

.subMenu{
  z-index:2;
  margin-top:-63px;
  width:100%;
  height: 40px;
  text-align: left;
  margin-left: 5%;

}

ul.tab {
  list-style-type: none;
  margin: 0;
  margin-top: 5px;
  padding: 0;
  overflow: hidden;
}

ul.tab li {
  display: inline-block;
  text-align: center;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 2px;
  text-decoration: none;
  font-family: Rhanoll;
  font-size: 20px;
}

ul.tab li:hover{
  border-bottom:2px solid #0071bc;
  cursor:pointer;
}
.active
{
  color: #0071bc;
  border-bottom: 2px solid #0071bc;
}


.content{
  margin-top:40px;
}

#statistics, #membres, #parameters{
  display:none;
}

