<div class="globalDetails">
  <div *ngFor="let playerAccount of playerAccountProperty,let i = index">
    <table class="Details" style="width:100%">
      <tr>
        <td rowspan="6" class="imgDetails">
          <img class="logoGame" src="../../../../../assets/images/hexa_game/checked/{{gameId}}.png" alt="">
        </td>
      </tr>
      <tr>
        <td>
          <div *ngIf="playerAccount.Case1.loaded">{{playerAccount.Case1.value}}</div>
        </td>
        <td>
          <div *ngIf="playerAccount.Case2.loaded">{{playerAccount.Case2.value}}</div>
        </td>
        <td>
          <div *ngIf="playerAccount.Case3.loaded">{{playerAccount.Case3.value}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </td><!---->
      </tr>
      <tr>
        <td>
          <div *ngIf="playerAccount.Case4.loaded">{{playerAccount.Case4.value}}</div>
        </td>
        <td>
          <div *ngIf="playerAccount.Case5.loaded">{{playerAccount.Case5.value}}</div>
        </td>
        <td>
          <div *ngIf="playerAccount.Case6.loaded">{{playerAccount.Case6.value}}</div>
        </td>
      </tr>
      <tr>
        <td colspan="3">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </td>
      </tr>

      <tr>
        <td>
          Win / Loose

          <div style="display: block">
            <div *ngIf="playerAccount.isRatioLoaded">
              <canvas baseChart
                      [data]="RatioData[i]"
                      [labels]="RatioLabels[i]"
                      [chartType]="RatioChartType"
                      [legend]="false">
                <!--(chartHover)="chartHovered($event)"-->
                <!--(chartClick)="chartClicked($event)">-->

              </canvas>
            </div>
          </div>
        </td>
        <td>
          Ratio
          <div style="display: block">
            <div *ngIf="playerAccount.isStatsLoaded">
              <canvas baseChart
                      [data]="statsData[i]"
                      [labels]="statsLabels[i]"
                      [chartType]="statsChartType"
                      [legend]="false">
                <!--(chartHover)="chartHovered($event)"-->
                <!--(chartClick)="chartClicked($event)">-->
              </canvas>
            </div>
          </div>
        </td>
        <td>
          Activités
          <div style="display: block">
            <div *ngIf="playerAccount.isActivityLoaded">
              <canvas baseChart
                      [data]="activityData[i]"
                      [labels]="activityLabels[i]"
                      [chartType]="activityChartType"
                      [legend]="false">
                <!--(chartHover)="chartHovered($event)"-->
                <!--(chartClick)="chartClicked($event)">-->
              </canvas>
            </div>
          </div>
        </td>
      </tr>
    </table>

    <app-blue-separation-bar-small></app-blue-separation-bar-small>

  </div>
</div>


<!--<tr>
  <td rowspan="2">
  </td>
</tr>

<div class="section">
  <svg width="160" height="160" class="graph">
    <circle r="50" cx="80" cy="80"/>
  </svg>
</div>-->
