<div class="container-fluid">
  <div class="col-xs-6 col-md-4 ">
    <div style="margin-bottom:-10px;margin-top:70px">
      <app-blue-separation-bar-small></app-blue-separation-bar-small>
    </div>
    <div class="content-section bloc1">


    </div>
    <div style="margin-top:-5px;">
      <app-blue-separation-bar-small></app-blue-separation-bar-small>
    </div>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-8 ">
    <div style="margin-bottom:-10px;">
      <app-blue-separation-bar-small></app-blue-separation-bar-small>
    </div>
    <div class="content-section bloc2">
      <h1>INFORMATIONS</h1>

    </div>
    <div style="margin-top:-5px;">
      <app-blue-separation-bar-small></app-blue-separation-bar-small>
    </div>
  </div>
</div>
