h2 {
  text-align: center;
  color: white;
  font-family: Rhanoll;
  font-size: 2em;
  margin-top: 2.8em;
}

#global {
  background-image: url("../../../../assets/images/font-lol.png");
  min-height: 100vh;
  background-size: cover;
}
