<div id="global">
  <div class="container">

    <app-slider-home></app-slider-home>
    <app-stats-games></app-stats-games>
  </div>

  <!-- --------------------------VOS TEAMS--------------------- -->

  <div style ="overflow-x: hidden;">
    <div *ngIf="team">

    <div class="jasgrid" style="font-size: 12px; color: white;">

      <app-blue-separation-bar-small></app-blue-separation-bar-small>
        <h1 class="vosTeamTitle">VOS TEAMS:</h1>
      <div id="listTeam" *ngIf="yourTeams">


          <div class="col-md-6 global" *ngFor="let team of yourTeams; let inde=index" style="z-index: 2;">
            <div *ngIf="inde < 4">
            <div class="hexagon hexagon1">
            <div class="hexagon-in1">
              <div *ngIf="team.logo" class="hexagon-in2" style="background-image: url('https://media.rtl2.fr/cache/mP7Ygi774ALk6dlr8IQNIg/795v530-0/online/image/2015/1006/7779991925_rtl2-presente-toto-en-concert-a-nantes.jpg')"></div>
              <div *ngIf="!team.logo" class="hexagon-in2" style="background-image: url('../../../../assets/images/hexa_game/{{team.game}}.png')"></div>
            </div>
          </div>
          <div><a href="team/{{team._id}}" class="teamName"> {{team.name}} - [{{team.tag}}]</a></div>
          <div class="nameGame">
            {{team.game.name}}
          </div>

          </div>
      </div>
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
      </div>
    </div>
  </div>
  </div>

  <!-- --------------------------FILTRE--------------------- -->

  <h2 class="vosTeamTitle">SELECTIONNER UN JEU !</h2>
  <div *ngIf="games" class="form-group row ">
  <li>
    <input #selector type="radio" checked class="checkboxGame" name="group" id="AllGame" (change)="checkFilter(AllGame)" (change)="selector.checked"/>
    <label for="AllGame">
      <img *ngIf="selector.checked" src="../../../../../assets/images/hexa_game/checked/allgame.png" alt="All Game Checked" >
      <img *ngIf="!selector.checked" src="../../../../../assets/images/hexa_game/allgame.png" alt="All Game" >
    </label>
  </li>
  <li *ngFor="let game of games">
    <input #selector type="radio" class="checkboxGame" name="group" id="{{game._id}}" (change)="checkFilter(game._id)" (change)="selector.checked"/>
    <label for="{{game._id}}" class="gameName">
      <img *ngIf="selector.checked" src="../../../../../assets/images/hexa_game/checked/{{game._id}}.png" alt="{{game.name}}" >
      <img *ngIf="!selector.checked" src="../../../../../assets/images/hexa_game/{{game._id}}.png" alt="{{game.name}}" >
      {{game.name}}
    </label>
  </li>
</div>

  <!-- --------------------------ACTUALITÉS--------------------- -->

  <app-blue-separation-bar-small></app-blue-separation-bar-small>
  <h2 class="vosTeamTitle">ACTUALITES</h2>
  <div class="container">
    <div class="row">

      <div *ngIf="news">

        <div class="jasgrid">
          <div *ngFor="let a of news.ign.articles, let i=index">
            <div *ngIf="i < 9">
            <div class="box-item">
              <div class="box-post">

                <h1 class="post-title">
                  <a href="#">
                    {{a.description}}
                  </a>
                </h1>
                <span class="meta">
                          <span><i class="glyphicon glyphicon-comment"></i> <a
                            href="{{a.url}}">Lien de l'article</a></span>

                          <span *ngIf="a.publishedAt"><i class="glyphicon glyphicon-time"></i> {{a.publishedAt}}</span>
                      </span>
              </div>
              <img src="{{a.urlToImage}}" alt="Photo de l'article"
                   class="">

            </div>
          </div>
          </div>
        </div>

      </div>

    </div> <!-- /container -->
  </div>
</div>

