h2 {
  text-align: center;
  color: white;
  font-family: Rhanoll;
  font-size: 2.5em;
  margin-top:2em;
}

#global {
  background-image: url("../../../../assets/images/font-lol.png");
  min-height: 100vh;
  text-align: center;
  font-family: Rhanoll;
}
a:link{
  text-decoration: none;
}

.showTeam{
  color: white;
  font-size:2em;
}

.nameGame{
font-size: 20px;
}

.logoGame{
  height: 60px;
}

.Details{
  margin: auto;
}

.teamName{
  font-size:30px;
}

.vosTeamTitle {
  text-align: center;
  color: white;
  font-size: 2.3em;
  margin-top:0.2em;
  font-family: Rhanoll;
}
.gameName{
  text-align: center;
  color: white;
  font-size: 2.1em;
  margin-top:0.2em;
  font-family: Rhanoll;
  font-weight:unset;
}

.form-group{
  margin-bottom: 50px;
}

li img{
  max-height: 100px;
}

li img:hover{
  cursor:pointer;
}
.checkboxGame{
  display: none;
}
li{
  list-style-type: none;
  display: inline-block;
  width:150px;
  height:150px;
  padding:15px 10px;
  margin:0 auto;
}
app-blue-separation-bar-small div{
  transform: translateY(25px);
}
@media screen and (max-width: 992px){
  .col-md-6.global{
    margin: auto;
  }

}

/* Actu */
.container_news{
  width: 95%;
  margin: auto;
}
.news {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: white;
  margin: auto;
}
.news a{
  color: white;
}
.news h1{
  margin: 15px 0;
}
.news .news__item{
  margin-bottom: 40px;
  width: 26vw;
}
.news .news_item__meta{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.news .news_item__meta span{
  display: flex;
  align-items: center;
}
.news .news_item__meta span i{
  margin-right: 3px;
}
.news .news__item .image_container{
  width: 100%;
  max-height: 13vw;
  overflow: hidden;
}
.news .news__item .image_container img{
  width: 100%;
  height: auto;
}
.news .news__item .post-title{
  font-size: 22px;
  height: 50px;
  overflow: hidden;
}

@media screen and (max-width:750px){
  .news .news__item{
    width: 42vw;
  }
  .news .news__item .image_container{
    max-height: 20vw;
  }
}
