<div class="container signupRoad">

  <app-blue-separation-bar-small></app-blue-separation-bar-small>

  <h1>BIENVENUE {{this.email}},</h1>

  <!--Check IF the user is verified to continue signup-->
  <div class="info" *ngIf="status">
    <!--<div *ngIf="status == 200" class="alert alert-success infoMessage">-->
      <!--<strong>Success!</strong> {{infoMessage}}-->
    <!--</div>-->
    <div *ngIf="status == 401" class="alert alert-danger errorMessage" style="font-size:x-large;color:black;">
      <strong>Error!</strong> {{errorMessage}}
      <br>
      <button type="button"><a href="/signup/"style="color:black;">Réinscription</a></button>
    </div>
  </div>

  <div *ngIf="status==200">
    <h2>Enregistrer ses <font style="color:#0071bc;">informations personnelles</font></h2>
    <p>Nous avons confirmé votre email. <br>Veuillez compléter les infos de votre compte.</p>

    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
      </div>
      <div class="col-xs-1"></div>
    </div>

    <form (ngSubmit)="onSubmit($event)" #step0Form="ngForm" class="form-inline">
      <div class="form-group row">
        <div class="col-sm-6">
          <input type="text" class="form-control" id="username" required
                 name="username" placeholder="Username">
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="lastname" required
                 name="lastname" placeholder="Nom" >
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="password" class="form-control" id="password" required
                 name="password" placeholder="Mot de passe">
        </div>
        <div class="col-sm-6">
          <input type="text" class="form-control" id="firstname" required
                 name="firstname" placeholder="Prénom">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <input type="password" class="form-control" id="confirmPassword" required
                 name="confirmPassword" placeholder="Répéter Mot de passe">
        </div>
        <div class="col-sm-6">
          <input type="date" class="form-control" id="birthDate" required
                 name="birthDate" placeholder="jour/mois/année">
        </div>
      </div>

      <div class="form-group row">
        <div class="col-sm-6">
          <div class="condition">
            <input type="checkbox" id="">
            <p>
              J'accepte les conditions générales d'utilisation et la politique de confidentialité.
            </p>
          </div>
        </div>
        <div class="col-sm-4"></div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-default submitButton" [disabled]="!step0Form.form.valid">CONFIRMER</button>
        </div>
      </div>
    </form>
  </div>

  <app-blue-separation-bar-small></app-blue-separation-bar-small>
  <p *ngIf="status==200">*Tous les champs sont obligatoires.</p>
</div>
