<div class="pageContent">
  <app-blue-separation-bar></app-blue-separation-bar>
  <app-player-account-banner></app-player-account-banner>
  <app-blue-separation-bar></app-blue-separation-bar>
  <app-player-account-details></app-player-account-details>

  <div class="col-md-12 btnContainer">
    <button class="myButton" type="button" (click)="gotoProfile()">Retour</button>
    <button class="myButton" type="submit" (click)="openSelectGameModal()">Ajouter</button>
  </div>

  <div class="lastMatch">
    <h1>Dernières parties jouées : </h1>

    <div *ngFor="let match of lastMatch,let i = index" class="match">
      <br>
      <h2 class="td blue">Victoire {{match.winnersTeamName}}</h2>
      <h2 class="tdRight td">{{match.pseudo}}</h2>
      <h2 class="tdRight td">Score : {{match.nbKills }}/{{ match.nbDeath}}</h2>
      <div class="imgTeams">
        <table>
          <tr>
            <td class="tdCenter td"><img class="imgTeam" src="../../../assets/images/imgTeamEmpty.png"></td>
            <td class="tdCenter td"><h2>VS</h2></td>
            <td class="tdCenter td"><img class="imgTeam" src="../../../assets/images/imgTeamEmpty.png"></td>
            <td class="tdRight td"><h2>Nb Kills : {{match.nbKills }}</h2></td>
            <td class="td"><h2>Time Death : {{match.timeDeath }}min</h2></td>
            <td class="td"><h2>Most Use Weapon : {{match.mostUseWeapon }}</h2></td>
          </tr>
          <tr>
            <td class="tdCenter td"><h2>{{match.winnersTeamPoint }}</h2></td>
            <td class="tdCenter td"><h2>/</h2></td>
            <td class="tdCenter td"><h2>{{match.losersTeamPoint }}</h2></td>
            <td class="tdRight td"><h2>Nb Deaths : {{match.nbDeath }}</h2></td>
            <td class="td"><h2>Ratio : {{match.nbKills / match.nbDeath}}</h2></td>
            <td class="td"><h2>Job : {{match.job }}</h2></td>
        </table>
      </div>

      <br>

      <app-blue-separation-bar></app-blue-separation-bar>

    </div>
    <button class="myButtonEnd" type="button">Afficher toutes les dernières parties</button>

  </div>


</div>
