<div *ngIf="userGetById" class="container signupRoad">
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
  <h1>BIENVENUE {{userGetById.username}}</h1>

  <!--Check IF the user is verified to continue signup-->
  <div *ngIf="status">

    <div *ngIf="status == 401" class="alert alert-danger errorMessage">
      <strong>Error!</strong> {{errorMessage}}
      <!--<button type="button"><a href="/signup/">Réinscription</a></button>-->
    </div>
  </div>

  <div *ngIf="status == 200" id="verified">
    <h2>Félicitation votre inscription est maintenant terminée <font style="color:#0071bc;">vous pouvez maintenant accéder au site !</font></h2>
    <div class="description">Vous pourrez modifier vos informations en accédant à votre profil ou commencer à utiliser notre plateforme en rejoingnant l'accueil. Bon jeu !</div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3 col-sm-8 col-8"></div>
      <div class="col-md-3 col-sm-4 col-4">
        <img id="step" src="../../../../../assets/images/step6.png">
      </div>
    </div>
    <form (ngSubmit)="onSubmit($event)" #step0Form="ngForm" class="form-group">
      <div class="form-group row">
        <div class="col-md-3 offset-xs-6 offset-lg-6 offset-md-4">
          <button type="submit" class="myButton">ACCUEIL</button>
        </div>
        <div class="col-md-3 offset-md-1 offset-lg-0">
          <button type="button" (click)="goToProfile()" class="myButton">PROFIL</button>
        </div>
      </div>
    </form>
  </div>
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
</div>


