<head>
  <script>
    var selectElmt = document.getElementById("playerAccountId");
    var valeurselectionnee = selectElmt.options[selectElmt.selectedIndex].value;
    var textselectionne = selectElmt.options[selectElmt.selectedIndex].text;
  </script>
</head>

<body>

<div class="form">

  <div class="tab-content">
    <div id="signup">
      <h1>Création d'un player account</h1>

      <form method="post" (submit)="submitAddForm()">

        <div class="field-wrap">
          <input type="search" id="login" placeholder="Nom du player account" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <input type="search" id="userid" placeholder="Identifiant du joueur" required autocomplete="off"/>
        </div>

        <div class="field-wrap">
          <input type="search" id="gameid" placeholder="Identifiant du jeu" required autocomplete="off"/>
        </div>

        <input class = "button button-block" type = "submit" value="Valider" name="Valider"/>

      </form>

    </div>

    <div id="login1">

    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->



<div class="form">
  <div class="tab-content">
    <div id="display">
      <h1>Affichage des Player Account Actif</h1>

      <div id="list8">
        <ul *ngFor="let pa of playerAccountApiJson">
          <li  (click)="onSelectPlayerAccount(pa._id)" *ngIf="pa.active == true">
            <a>
              <span class="item" >{{pa.login+" "}}</span>
              <button style="background-color:rgba(19, 35, 47, 0.9)" type="button" (click)="deletePlayerAccount(pa._id)"><img src="./../../assets/images/delete-button.png"></button>
            </a>
          </li>
        </ul>
      </div>

    </div>

    <div id="login7">

    </div>

  </div><!-- tab-content -->

</div> <!-- /form -->

<div class="form">
      <h1>Modification d'un player Account</h1>
      <h2>Sélectionner un Player Account</h2>
      <select name="liste" id="playerAccountId">
        <option *ngFor="let pa of playerAccountApiJson" value="{{pa._id}}">
            {{pa.login}}
          </option>
      </select>
        <form name="formulaire" (submit)="submitUpdateForm()">
           <h2>Choisir un nouveau login</h2>
          <input type="search" id="playerAccountLogin" placeholder="Entrez votre nouveau login" required autocomplete="off"/>
          <br/>
          <br/>
          <input class = "button button-block" type = "submit" value="Modifier" name="Modifier"/>
          <!--<button type="submit" value="Valider" name="Valider"> Submit </button>-->
        </form>

      </div>
</body>

