<br><br><br><br><br><br><br>

<h2>Search</h2>
<form>

  <button type="button" (click)="getAllItemsPlayerAccount()">Get all</button>
  <input type="search" name="query" [(ngModel)]="getbyid" (keyup.enter)="getItemPlayerAccountById(getbyid)">
  <button type="button" (click)="getItemPlayerAccountById(getbyid)">Get 1 by ID</button>
  <input type="search" name="lol" [(ngModel)]="getbyusername" (keyup.enter)="getAllItemsPlayerAccount(getbyusername)">
  <button type="button" (click)="getAllItemsPlayerAccount(getbyusername)">Get 1 by username</button>
  <input type="search" name="lol" [(ngModel)]="getbyuserid" (keyup.enter)="getItemPlayerAccountByUserId(getbyuserid)">
  <button type="button" (click)="getItemPlayerAccountByUserId(getbyuserid)">Get 1 by user idS</button>
  <input type="search" name="lol" [(ngModel)]="deletebyid" (keyup.enter)="deletePlayerAccount(deletebyid)">
  <button type="button" (click)="deletePlayerAccount(deletebyid)">Delete by id</button>
</form>
<table *ngIf="playerAccountApiJson">
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let person of playerAccountApiJson; let i=index">
    <td>{{person.login}}</td>
    <td>{{person.gameId}}</td>

  </tr>
  </tbody>
</table>
<table *ngIf="playerAccountGetById">
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone</th>
    <th>Address</th>
  </tr>
  </thead>
  <tbody>

  <td>{{login}}</td>
  <td>{{gameId}}</td>


  </tbody>
</table>
