<div class="container signupRoad">
  <app-blue-separation-bar-small></app-blue-separation-bar-small>

  <div id="global">
    <h2>Création de <font style="color:#0071bc;">votre équipe</font></h2>
    <div class="description">
      Pour quel jeu souhaitez-vous créer votre équipe ?
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3 col-sm-8 col-8"></div>
      <div class="col-md-3 col-sm-4 col-4">
        <img id="step" src="../../../../../assets/images/step2.png" alt="2 / 5">
      </div>
    </div>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>

    <form (ngSubmit)="onSubmit($event)" class="form-inline">
      <div *ngIf="games" class="containerGame">
        <li *ngFor="let game of games">
          <input #selector type="radio" class="checkboxGame" name="group" id="{{game._id}}" (change)="selector.checked"/>
          <label for="{{game._id}}" class="gameName">
            <img *ngIf="selector.checked" src="../../../../../assets/images/hexa_game/checked/{{game._id}}.png" alt="{{game.name}}" >
            <img *ngIf="!selector.checked" src="../../../../../assets/images/hexa_game/{{game._id}}.png" alt="{{game.name}}" >
            {{game.name}}
          </label>
        </li>
      </div>

      <!--<div *ngIf="games" class="form-group row ">
        <li *ngFor="let game of games" class="game">
          <input #selector type="radio" class="checkboxGame" name="group" id="{{game._id}}" (change)="selector.checked"/>
          <label for="{{game._id}}">
            <img *ngIf="selector.checked" src="../../../../../assets/images/hexa_game/checked/{{game._id}}.png" alt="{{game.name}}" >
            <img *ngIf="!selector.checked" src="../../../../../assets/images/hexa_game/{{game._id}}.png" alt="{{game.name}}" >
          </label>
        </li>
      </div>-->

      <div class="form-group row align-items-end">
        <div class="col-md-6"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <button type="submit" class="myButton">CONFIRMER</button>
        </div>
      </div>
    </form>
  </div>
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
</div>
