<div *ngIf="userGetById" class="container signupRoad">
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
  <div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">

    </div>
    <div class="col-xs-1"></div>
  </div>

  <h1>BIENVENUE {{userGetById.username}},</h1>

  <!--Check IF the user is verified to continue signup-->
  <div *ngIf="status">

    <div *ngIf="status == 401" class="alert alert-danger errorMessage">
      <strong>Error!</strong> {{errorMessage}}
      <!--<button type="button"><a href="/signup/">Réinscription</a></button>-->
    </div>
  </div>

  <div *ngIf="verifiedCodeTemp == 'VERIFIED'">
    <h2>Enregistrer vos <font style="color:#0071bc;">jeux favoris</font></h2>
    <p>Voici les jeux qui vous on intéresser <br></p>

    <div id="side">
      <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->
      <div class="col-md-12 board">
        <!-- <h2>Welcome to IGHALO!<sup>™</sup></h2>-->

        <div class="board-inner">
          <ul class="nav nav-tabs" id="myTab">
            <div class="liner">
              <div id="blueText">
                Etapes
              </div>

            </div>
            <li >
              <a href="#home" aria-controls="home" role="tab" data-toggle="tab" title="Rentrer les infos personnelles">
                      <span class="round-tabs one">
                              <i class="icon icon-profile-male"></i>
                      </span>
              </a></li>

            <li><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" title="Séléctionner les jeux">
                     <span class="round-tabs two">
                         <i class="icon icon-pencil"></i>
                     </span>
            </a>
            </li>
            <li class="active"><a href="#prototyping" aria-controls="prototyping" role="tab" data-toggle="tab" title="Prototyping">
                     <span class="round-tabs three">
                          <i class="icon icon-layers"></i>
                     </span> </a>
            </li>

            <li><a href="#uidesign" aria-controls="uidesign" role="tab" data-toggle="tab" title="UI Design">
                         <span class="round-tabs four">
                              <i class="icon icon-aperture"></i>
                         </span>
            </a></li>

            <li><a href="#doner" aria-controls="doner" role="tab" data-toggle="tab" title="Development">
                         <span class="round-tabs five">
                              <i class="icon icon-tools-2"></i>
                         </span> </a>
            </li>

          </ul></div>
      </div>
    </div>
  <br><br><br><br>

      <div class="form-group row" >
        <!--<div class="col-sm-10" *ngIf="divForms">-->
          <!--<div *ngFor="let form of divForms" [innerHTML]="divForms[0]">-->
          <!--</div>-->
        <!--</div>-->
        <div class="col-sm-10" *ngIf="divForms">
          <div *ngFor="let form of divForms;let i = index;">
            <br><br>
              <p>{{form.gameName}}</p>
              <input class="form-control col-sm-6" type='text' id='playerAccount{{i}}' placeholder='{{form.placeHolder}}'>
              <button (click)='createPlayerAccount(i)' class="btn btn-default submitButton">Valider</button><br>
          </div>
        </div>
        <form (ngSubmit)="onSubmit($event)" #step0Form="ngForm" class="form-group">
            <div class="buttonSubmit">
              <button id="submitButton" type="submit" class="btn btn-default submitButton">Confirmer</button>
            </div>
        </form>
      </div>
  </div>
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
</div>


