*{
  color:white;
  font-family: "Rhanoll";
  src: url("../../../../assets/fonts/rhanoll/Rhanoll.ttf");
}
#search{
  margin-top:50px;
  margin-bottom:25px;
}
#search div{
  display: inline-block;
}
#searchBar{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}
#searchIcon{
  outline: none;
  margin-left:-75px;
  margin-bottom: -9px;
}
#search img{
  height: 40px;
  margin-left:15px;
}
#createTeam{
  margin-bottom: -25px;
}
#createTeam div{
  display: block;
  margin:0 auto;
}
#createTeam h2{
  margin-bottom: 0px;
}

h1{
  font-size: 35px;
  padding-top: 10px;
}

#searchIcon:active{
  margin-top: 16px;
}

#insideBar{
  background-color: #1d1d1b;
  font-size: 30px;
  padding: 7px;
  text-align: center;
  width: 650px;
  border: 0px;
  border-bottom: 1px solid grey;
}

.droparrow{
  height: 35px;
  position: relative;
  float: right;
  margin-top: -45px;

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.droparrow:hover{
  cursor: pointer;
}

#listTeam{
  max-height:5000px;
  overflow: hidden;
  -webkit-transition:max-height 1s;
  -moz-transition:max-height 1s;
  -ms-transition:max-height 1s;
  -o-transition:max-height 1s;
  transition:max-height 1s;
}

#listTeamSearch{
  max-height:5000px;
  overflow: hidden;
  -webkit-transition:max-height 1s;
  -moz-transition:max-height 1s;
  -ms-transition:max-height 1s;
  -o-transition:max-height 1s;
  transition:max-height 1s;
}

