<div id="global">
  <div id="background">

  </div>
  <div>
    <div>

    </div>

    <table id="gestionCompte">
      <tr>
        <td><a href=""><img src="../../../../assets/images/logo-profil1.png"/></a></td>
        <td><a href=""><img src="../../../../assets/images/logo-profil2.png"/></a></td>
        <td><a href=""><img src="../../../../assets/images/logo-profil3.png"/></a></td>
      </tr>
      <tr id="titleTable">
        <td><a href="">MODIFIER PROFIL</a></td>
        <td><a href="">GERER ABONNELENT</a></td>
        <td><a href="">CREER TEAM</a></td>
      </tr>
      <tr>
        <td>Créer et modifier<br> votre profil personnel.</td>
        <td>Mettre à jour ses abonnements <br>et ses actualités.</td>
        <td>Créer une équipe et<br> afronter des adversaires !</td>
      </tr>
    </table>

  </div>
</div>

<div id="separation">
  <svg preserveAspectRatio="none" viewBox="0 -4 100 104" height="10" width="100%" style="">
    <path d="M0 50 L15 0 L85 0 L100 50 L85 100 L15 100 Z" style="fill: #0071bc; stroke: #0071bc;"/>
  </svg>
</div>
