
<div id="global">
  <div id="avatar_username">
    <div id="avatar">
      <img src="../../../../assets/images/hexapic_profil.png">
    </div>

    <div *ngIf="userGetById" id="infoNameUser">
      <!--class="user_username"-->
      <h1>{{userGetById.username}}</h1>
      <!--id="provenance"-->
      <h2><img src="../../../../assets/images/FR.png">{{userGetById.firstname}} {{userGetById.lastname}}</h2>
    </div>
  </div>

  <div class="col-md-4 col-xs-offset-8 triple">
    <div class="col-xs-4">
      <a (click)="openModal()"><img src="../../../../assets/images/picto_creer_team_sansdescrp.png"></a>
      <p>
        Créer et modifier<br> votre profil personnel.
      </p>
    </div>
    <div class="col-xs-4">
      <a href="/profile"><img src="../../../../assets/images/picto_creer_team_sansdescrp.png"></a>
      <p>
        Mettre à jour ses abonnements <br>et ses actualités.
      </p>
    </div>
    <div class="col-xs-4">
      <a href="/team/create-team"><img src="../../../../assets/images/picto_creer_team_sansdescrp.png"></a>
      <p>
        Créer une équipe et<br> afronter des adversaires !
      </p>
    </div>
  </div>
  <!--<table id="gestionCompte">-->
    <!--<tr>-->
      <!--<td><a (click)="openModal()"><img src="../../../../assets/images/logo-profil1.png"/></a></td>-->
      <!--<td><a href="/profile"><img src="../../../../assets/images/logo-profil2.png"/></a></td>-->
      <!--<td><a href="/team/create-team"><img src="../../../../assets/images/logo-profil3.png"/></a></td>-->
    <!--</tr>-->
    <!--<tr id="titleTable">-->
      <!--<td><a (click)="openModal()">MODIFIER PROFIL</a></td>-->
      <!--<td><a href="/profile">GERER ABONNELENT</a></td>-->
      <!--<td><a href="/team/create-team">CREER TEAM</a></td>-->
    <!--</tr>-->
    <!--<tr id="descriptionProfil">-->
      <!--<td>Créer et modifier<br> votre profil personnel.</td>-->
      <!--<td>Mettre à jour ses abonnements <br>et ses actualités.</td>-->
      <!--<td>Créer une équipe et<br> afronter des adversaires !</td>-->
    <!--</tr>-->
  <!--</table>-->
</div>

<div id="myModal" class="modal" *ngIf="userGetById">
  <div class="modal-content">
    <span class="cross" (click)="closeModal()" title="Fermer">&times;</span>
    <h1>Profil</h1>
    <div class="container">
      <div class="col-md-6" id="updProfileForm">
        <form (ngSubmit)="updateProfile($event)">

          <h2>Informations personnelles</h2>
          <div>
            <div class="size2">
              <label>Nom d'utilisateur :</label>
              <input type="text" value="{{userGetById.username}}">
            </div>
            <div class="size2">
              <label>Date de naissance :</label>
              <input type="date" id="birthDate" style="height: 36px;" value="{{userGetById.birthDate | date: 'yyyy-MM-dd'}}" placeholder="jour/mois/année">
            </div>
          </div>
          <div>
            <div class="size2">
              <label>Nom :</label>
              <input type="text" value="{{userGetById.lastname}}">
            </div>
            <div class="size2">
              <label>Prénom :</label>
              <input type="text" value="{{userGetById.firstname}}">
            </div>
          </div>
          <div class="size2">
            <label>Numéro de téléphone :</label>
            <input type="text"  value="{{userGetById.phoneNumber}}">
          </div>
          <div class="size2">
            <label>Email :</label>
            <input type="email" value="{{userGetById.email}}">
          </div>
          <button id="updProfilBtn" class="myButton">Mettre à jour</button>
        </form>
      </div>



      <div class="col-md-6" id="updPwdForm">
        <form (ngSubmit)="updatePwd($event)">
          <h2>Gestion du mot de passe</h2>

          <div class="size2">
            <label>Ancien mot de passe :</label>
            <input type="password" placeholder="********">
          </div>

            <div class="size2">
              <label>Nouveau mot de passe :</label>
              <input type="password" placeholder="********">
            </div>
            <div class="size2">
              <label>Confirmer le nouveau mot de passe :</label>
              <input type="password" placeholder="********">
            </div>
          <button id="updPwdBtn" class="myButton">Mettre à jour</button>
        </form>
      </div>
    </div>


    <form>
      <div id="content-address">
        <h2 style="padding-left:10px;padding-top:10px;">Gestion des adresses</h2>
        <!-- ADRESSE 1 -->
        <ul class="col-md-6" *ngIf="addressTab[0].line !== ''">
            <li *ngIf="addressTab[0].active" id="addressApiJsonUpd0">

              <h2>
                Adresse principale
                <!--<span class="icons" (click)="deleteAddress(addressApiJson[0]._id,0)" title="Supprimer cette adresse"><i class="fa fa-times icons" aria-hidden="true"></i></span>-->
                <span class="icons" (click)="unlockUpdAddress(0)" id="pencilUpd0" title="Modifier cette adresse"><i class="fa fa-pencil icons" aria-hidden="true"></i></span>
                <span class="icons displayNone" (click)="updateAddress(0,addressTab[0]._id)" id="checkUpd0" title="Enregistrer les modifications"><i class="fa fa-check icons" aria-hidden="true"></i></span>
              </h2>

              <div class="size1" >
                <label>Rue :</label>
                <input type="text" value="{{addressTab[0].line}}"  id="inputLineUpd0" disabled>
              </div>

              <div class="size2" >
                <label>Ville :</label>
                <input type="text" value="{{addressTab[0].city}}" id="inputCityUpd0" disabled>
              </div>

              <div class="size2">
                <label>Pays :</label>
                <input type="text" value="{{addressTab[0].country}}" id="inputCountryUpd0" disabled>
              </div>

              <div class="size3alone">
                <label>PostCode :</label>
                <input type="text" value="{{addressTab[0].postCode}}" id="inputPostCodeUpd0" disabled>
              </div>

            </li>
        </ul>
        <ul class="col-md-6" *ngIf="addressTab[0].line === ''">
          <li id="addressApiJsonAdd0">

            <h2>
              Adresse principale
              <span class="icons" (click)="unlockAddAddress(0)" id="pencilAdd0" title="Modifier cette adresse"><i class="fa fa-pencil icons" aria-hidden="true"></i></span>
              <span class="icons displayNone" (click)="addAddress(0)" id="checkAdd0" title="Enregistrer les modifications"><i class="fa fa-check icons" aria-hidden="true"></i></span>
            </h2>

            <div class="size1" >
              <label>Rue :</label>
              <input type="text" value=""  id="inputAddLine0" disabled>
            </div>

            <div class="size2" >
              <label>Ville :</label>
              <input type="text" id="inputAddCity0" disabled>
            </div>

            <div class="size2">
              <label>Pays :</label>
              <input type="text"  id="inputAddCountry0" disabled>
            </div>

            <div class="size3alone">
              <label>PostCode :</label>
              <input type="text"  id="inputAddPostCode0" disabled>
            </div>

          </li>
        </ul>
        <!--ADRESSE 2 -->
        <ul class="col-md-6" *ngIf="addressTab[1].line !== ''">
            <li *ngIf="addressTab[1].active" id="addressApiJsonUpd1">

              <h2>
                Adresse secondaire
                <!--<span class="icons" (click)="deleteAddress(addressApiJson[1]._id,1)" title="Supprimer cette adresse"><i class="fa fa-times icons" aria-hidden="true"></i></span>-->
                <span class="icons" (click)="unlockUpdAddress(1)" id="pencilUpd1" title="Modifier cette adresse"><i class="fa fa-pencil icons" aria-hidden="true"></i></span>
                <span class="icons displayNone" (click)="updateAddress(1,addressTab[1]._id)" id="checkUpd1" title="Enregistrer les modifications"><i class="fa fa-check icons" aria-hidden="true"></i></span>
              </h2>

              <div class="size1" >
                <label>Rue :</label>
                <input type="text" value="{{addressTab[1].line}}"  id="inputLineUpd1" disabled>
              </div>

              <div class="size2" >
                <label>Ville :</label>
                <input type="text" value="{{addressTab[1].city}}" id="inputCityUpd1" disabled>
              </div>

              <div class="size2">
                <label>Pays :</label>
                <input type="text" value="{{addressTab[1].country}}" id="inputCountryUpd1" disabled>
              </div>

              <div class="size3alone">
                <label>PostCode :</label>
                <input type="text" value="{{addressTab[1].postCode}}" id="inputPostCodeUpd1" disabled>
              </div>

            </li>
        </ul>
        <ul class="col-md-6" *ngIf="addressTab[1].line === ''">
          <li id="addressAddApiJsonAdd1">

            <h2>
              Adresse secondaire
              <!--<span class="icons" (click)="deleteAddress(addressApiJson[1]._id,1)" title="Supprimer cette adresse"><i class="fa fa-times icons" aria-hidden="true"></i></span>-->
              <span class="icons" (click)="unlockAddAddress(1)" id="pencilAdd1" title="Modifier cette adresse"><i class="fa fa-pencil icons" aria-hidden="true"></i></span>
              <span class="icons displayNone" (click)="addAddress(1)" id="checkAdd1" title="Enregistrer les modifications"><i class="fa fa-check icons" aria-hidden="true"></i></span>
            </h2>

            <div class="size1" >
              <label>Rue :</label>
              <input type="text" id="inputAddLine1" disabled>
            </div>

            <div class="size2" >
              <label>Ville :</label>
              <input type="text" id="inputAddCity1" disabled>
            </div>

            <div class="size2">
              <label>Pays :</label>
              <input type="text" id="inputAddCountry1" disabled>
            </div>

            <div class="size3alone">
              <label>PostCode :</label>
              <input type="text" id="inputAddPostCode1" disabled>
            </div>

          </li>
        </ul>
      </div>
    <button class="myButton" (click)="closeModal()">ANNULER</button>
    </form>
  </div>
</div>
