<div id="global">
  <div class="container">
    <div class="row">
      <div class="col-md-8">

        <div class="entete row">
          <span style="width:  100%;">
            <app-blue-separation-bar-small></app-blue-separation-bar-small>
          </span>
          <div class="offset-md-1 col-md-11">
            <img src="../../../../../assets/images/hexapic_profil.png" class="profilPrincip">
            <div class="userName">{{roomName}}</div>
          </div>
        </div>


        <!--<div class="row" id="profilIcon">
          <div class="col-md-6">
            <img src="../../../../../assets/images/hexapic_profil.png" class="profilPrincip">
          </div>
          <div class="col-md-6">
            <div class="userName"></div>
          </div>
        </div>
        <div class="row" id="headMessageList">
          <div class="col-md-12">
            <app-blue-separation-bar-small></app-blue-separation-bar-small>
          </div>
        </div>-->

          <div class="verticalBar offset-md-1">
            <app-vertical-blue-separation></app-vertical-blue-separation>
          </div>

          <div class="row contentMessage" id="contentMess"><!--Message-->
            <div class="col-12" *ngFor="let item of currentChat">
              <div class="col-md-1 hour">
                {{item.created_at | date: 'H:mm'}}
              </div>
              <div *ngIf="item.autor != username" class="col-md-11 message">
                {{item.content}}
              </div>
              <div *ngIf="item.autor == username" class="col-md-11 message owned">
                {{item.content}}
              </div>

            </div>
          </div>

        <!--
        <div class="" *ngFor="let item of currentChat">
              <div *ngIf="item.autor == username" class="message owned">
                <div>
                  {{item.created_at | date: 'H/mm'}} : {{item.autor}}
                </div>
                <div>
                  {{item.content}}
                </div>
              </div>
              <div *ngIf="item.autor != username" class="message">
                <div>
                  {{item.created_at | date: 'H/mm'}}: {{item.autor}}
                </div>
                <div>
                  {{item.content}}
                </div>
              </div>
              <div class="col-md-6">
                <app-blue-separation-bar-small></app-blue-separation-bar-small>
              </div>
              <div class="col-md-6">
              </div>
            </div>


            <div class="row">
              <ul class="col-md-12" id="messages">
                <div *ngFor="let item of currentChat">
                  <li *ngIf="item.autor != username" class="col-md-11 message">
                    <div>
                      {{item.created_at | date: 'dd/mm/yyyy'}} : {{item.autor}}
                    </div>
                    <div>
                      {{item.content}}
                    </div>
                  </li>
                  <li *ngIf="item.autor == username" class="col-md-11 owned">
                    <div>
                      {{item.created_at | date: 'dd/mm/yyyy'}} : {{item.autor}}
                    </div>
                    <div>
                      {{item.content}}
                    </div>
                  </li>
                  <div class="col-md-6">
                    <app-blue-separation-bar-small></app-blue-separation-bar-small>
                  </div>
                </div>
              </ul>
            </div>
        -->

          <div class="offset-md-1 row"><!--Recherche-->
             <div class="input-message col-md-10">
               <p hidden="{{isTyping}}">{{typingUser}} est entrain d'écrire</p>
               <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" autocomplete="off" [(ngModel)]="message"
                      onfocus="" onblur=""/>
             </div>
             <div class="col-md-2">
               <button type="button" class="myButton" (click)="SendMessage()"><img src="../../../../../assets/images/send.png" class="sendBtn"></button>
             </div>
          </div>
      </div>

      <div class="col-md-4 row second">
        <div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
          <div class="title gradientBlue">
            <img (click)="HideGroup()" src="../../../../../assets/images/arrow.png" class="arrowDown">
            GROUPES
            <img src="../../../../../assets/images/icon-add.png" class="addBtn">
          </div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
          <div *ngIf="showGroup" class="content">
            <ul class="sideList">
              <li>Team 1</li>
              <li>Team 2</li>
              <li>Team 3</li>
              <li>Team 4</li>
            </ul>

          </div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>

        <div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
          <div class="title gradientBlue">
            <img (click)="HideConv()" src="../../../../../assets/images/arrow.png" class="arrowDown">
            CONVERSATIONS
            <img src="../../../../../assets/images/icon-add.png" class="addBtn">
          </div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
          <div *ngIf="showConv" class="content">
            <ul class="sideList">
              <li *ngFor="let item of myConvs" (click)="JoinRoom(item._id, item.user1, item.user2)">{{item.user1 + " / " + item.user2}}</li>
              <li *ngFor="let item of otherConvs" (click)="JoinRoom(item._id, item.user1, item.user2)">{{item.user1 + " / " + item.user2}}</li>
            </ul>
          </div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>

        <div class="friends">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
          <div class="title gradientBlue">
            AMIS
            <img src="../../../../../assets/images/icon-add.png" class="addBtn">
          </div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
          <div class="contentFriends">
             <div *ngFor="let item of myFriends">
               <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto" (click)="OnNewChatClick(item)">
               <img src="../../../../../assets/images/hexagon_connecte.png" class="friendStatus">
               <div class="friendName">{{item.username}}</div>
             </div>

              <!--<ul class="contentFriends_list">
                <div class="itemFriends" *ngFor="let item of myFriends">

                  <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto" (click)="OnNewChatClick(item)">
                  <span class="userName">{{item.username}}</span>
                  <img src="../../../../../assets/images/hexagon_connecte.png" class="friendStatus">

                </div>
              </ul>-->

          </div>
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
      </div>
    </div>
  </div>
</div>
