<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3" id="friendContent">
    <h1>Mes Amis</h1>
    <ul id="friendList">
      <li *ngFor="let item of myFriends" (click)="JoinRoom(item.username)">{{item.username}}</li>
    </ul>
  </div>
  <div class="col-md-7" id="chat">
    <div class="row">
      <h1 id="titleChat">{{roomName}}</h1>
    </div>
    <div class="row pre-scrollable" id="messagesDiv">
      <ul id="messages"></ul>
    </div>
    <div class="row">
      <div class="col-md-8">
        <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" autocomplete="off" [(ngModel)]="message"/>
      </div>
      <div class="col-md-4">
        <button type="button" class="btn btn-light btn-lg" (click)="SendMessage()">Send</button>
      </div>
    </div>
  </div>
  <div class="col-md-1"></div>
</div>
