<form (ngSubmit)="onSubmit($event)"   class="form-inline">
<div class="form-group row">



  <div class="col-sm-6">

    <input  class="form-control" id="playerAccount" name="playerAccount" placeholder="Invittez vos amis dans votre équipe">
    <button class="btn btn-primary pull-right" (click)="onClicked($event)" type="submit" >Envoie du sale</button>


  </div>



</div>



<div class="form-group row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button class="btn btn-primary pull-right" type="submit" >Next</button>

  </div>
</div>
</form>
