<div class="container">
  <div class="row">

    <div class="col-md-8">

      <div class="entete row">
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
        <div>
          <img src="../../../../../assets/images/hexapic_profil.png" class="profilPrincip">
          <div class="userName">Utilisateur 1</div>
        </div>
      </div>
      <div class="verticalBar">
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
      </div>

      <div class="row">
        <app-blue-separation-bar-small></app-blue-separation-bar-small>

        <div class="date">
          <div class="col-md-11 offset-md-1 day">
            Aujourd'hui
          </div>
          <div>
            <div class="col-md-1 hour">
              20h00
            </div>
            <div class="col-md-11 message">
              Salut ! Comment va ?
            </div>
            <div style="width: 40%;">
              <app-blue-separation-bar-small></app-blue-separation-bar-small>
            </div>
          </div><div>
            <div class="col-md-1 hour">
              20h02
            </div>
            <div class="col-md-11 message">
              Yo, bien et toi ?
            </div>
            <div style="width: 40%;">
              <app-blue-separation-bar-small></app-blue-separation-bar-small>
            </div>
          </div><div>
            <div class="col-md-1 hour">
              20h03
            </div>
            <div class="col-md-11 message">
              Ca va ca va, tu vas au ciné demain ?
            </div>
            <div style="width: 40%;">
              <app-blue-separation-bar-small></app-blue-separation-bar-small>
            </div>
          </div><div>
            <div class="col-md-1 hour">
              20h04
            </div>
            <div class="col-md-11 message">
              Non, je peux pas
            </div>
            <div style="width: 40%;">
              <app-blue-separation-bar-small></app-blue-separation-bar-small>
            </div>
          </div>
        </div>

          <div class="col-md-11 offset-md-1 row">
            <div class="input-message col-md-10">
              <input type="text" class="form-control" id="message" placeholder="Ecrivez un message...">
            </div>
            <div class="col-md-2">
              <button type="submit" class="myButton"><img src="../../../../../assets/images/send.png" class="sendBtn"></button>
            </div>
        </div>
      </div>
    </div>


    <div class="col-md-4 row">
      <div class="">
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
        <div class="title">
          GROUPES
          <img src="../../../../../assets/images/icon-add.png" class="addBtn">
        </div>
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
        <div class="content gradientBlue">
          <div>Team 1</div>
          <div>Team 2</div>
          <div>Team 3</div>
          <div>Team 4</div>
        </div>
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
      </div>


      <div class="">
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
        <div class="title">
          CONVERSATIONS
          <img src="../../../../../assets/images/icon-add.png" class="addBtn">
        </div>
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
        <div class="content gradientBlue">
          <div>RiccardB !</div>
          <div>ALZ</div>
          <div>Equipe Lune</div>
          <div>L'orient</div>
        </div>
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
      </div>


      <div class="friends">
        <div style="width: 50%;float: right;">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
        <div class="friendsDesc col-md-6 offset-md-6">
          AMIS
        </div>
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
        <div class="contentFriends gradientBlue">
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_connecte.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_connecte.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_connecte.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/Hexagon_absent.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/Hexagon_absent.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_deconnecte.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_deconnecte.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_deconnecte.png" class="friendStatus">
          </div><div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/Hexagon_absent.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/Hexagon_absent.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_deconnecte.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_deconnecte.png" class="friendStatus">
          </div>
          <div>
            <img src="../../../../../assets/images/hexapic_profil.png" class="friendPicto">
            <img src="../../../../../assets/images/hexagon_deconnecte.png" class="friendStatus">
          </div>
        </div>
        <app-blue-separation-bar-small></app-blue-separation-bar-small>
      </div>
    </div>

  </div>
</div>
