<form  #step0Form="ngForm" class="form-inline">
<div class="form-group row">
  <div class="col-sm-6">
    <input type="text" class="form-control" id="name" required
           name="name" placeholder="Nom de l'équipe">
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="tag" required
           name="tag" placeholder="TAG de l'équipe">
  </div>
</div>

<div class="form-group row">
  <div class="col-sm-6">
    <input type="text" class="form-control" id="rank" required
           name="rank" placeholder="Rank de l'équipe">
  </div>
  <div class="col-sm-6">
    <input type="text" class="form-control" id="country" required
           name="country" placeholder="Pays">
  </div>
</div>
<div class="form-group row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button class="btn btn-primary pull-right" type="submit" >Next</button>

  </div>
</div>

