<footer class="footer">

  <img class="logo-nonamegaming" src="../../assets/images/Logo_esport_transp.png"><br>
  <i class="fa fa-vimeo fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fa fa-instagram fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fa fa-twitter fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fa fa-youtube-play fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fa fa-facebook fa-2x logo-footer" aria-hidden="true"></i>
  <p class="copyright-text"> © ESPORT GAMING 2016. All Rights Reserved. By LOCALISE </p>
</footer>
