<footer class="footer">

  <img class="logo-nonamegaming" src="../../assets/images/Logo_esport_transp.png"><br>
  <i class="fab fa-vimeo-v fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fab fa-instagram fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fab fa-twitter fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fab fa-youtube fa-2x logo-footer" aria-hidden="true"></i>
  <i class="fab fa-facebook-f fa-2x logo-footer" aria-hidden="true"></i>
  <p class="copyright-text"> © ESPORT GAMING 2016. All Rights Reserved. By LOCALISE </p>
</footer>
