.footer {
  text-align: center;
}

.logo-nonamegaming{
  height: 5%;
  width: 5%;
  margin: auto;
}

.logo-footer{
  color: rgb(0, 113, 188);
}

.copyright-text{
  color: rgb(0, 113, 188);
  font-size: 14px;
}
