<div class="container-fluid">
  <div class="col-sm-12 col-md-6 col-lg-4 bloc">
    <h1>MES <font style="color:#0071bc;">AMIS</font></h1>

    <div class="content-section">
      <div *ngIf="currentUser">
        <div style="position:absolute;margin-top:-6px;width:350px;">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
        <table  class="amis">
          <div *ngFor="let currentFriend of currentUser.friends" class="amis">
            <tr class="amis">
              <div style="position:absolute;margin-top:-6px;width:350px;">
                <app-blue-separation-bar-small></app-blue-separation-bar-small>
              </div>
              <td *ngIf="currentFriend.active"> <img class="hexa_connect" src="../../../../../assets/images/hexagon_connecte.png/" alt=""> </td>
              <td *ngIf="currentFriend.active==false"> <img class="hexa_connect" src="../../../../../assets/images/hexagon_deconnecte.png/" alt=""> </td>
              <td><a href="profile" class="friend"> {{currentFriend.username}}</a></td>
              <td class="droite">Connecté </td>
            </tr>
            <div style="position:absolute;margin-top:-6px;width:350px;">
              <app-blue-separation-bar-small></app-blue-separation-bar-small>
            </div>
          </div>
        </table>
      </div>
    </div>
    <div style="position:absolute;margin-top:-6px;width:350px;margin-left:70px">
      <app-blue-separation-bar-small></app-blue-separation-bar-small>
    </div>

    <input type="button" class="myButton" (click)="openAddFriendsModal()" value="Ajouter des amis"/>
    <div id="openAddFriendsModal" class="modal">
      <div class="modal-content">
        <span class="cross" (click)="closeAddFriendsModal()" title="Fermer">&times;</span>
        <div class="container">
          <div class="col-sm-12 row addFriendPopUp">
            <h2>Ajouter des amis</h2>

            <br><br>

            <form (ngSubmit)="addingFriends($event)" id="searchBar">
              <input id="insideBar" class="form-control col-sm-6" type="text" placeholder="Add friends">
              <button type="submit" id="addButton" class="btn btn-default submitButton">Valider</button><br>
            </form>


          </div>
          <form (ngSubmit)="onSubmit()">
            <div class="col-sm-12 btnContainer row">
              <div class="col-md-3">
                <button id="AddFriendsSubmitButton" class="myButton" disable="true">Confirmer</button>
              </div>
              <div class="col-md-6"></div>

              <div class="col-md-3">
                <button class="myButton" type="button" (click)="closeAddFriendsModal()">Annuler</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-12 col-md-6 col-lg-4 bloc">
    <h1>MES <font style="color:#0071bc;">TEAMS</font></h1>
    <div style="position:absolute;margin-top:-6px;width:350px;margin-left:70px">
      <app-blue-separation-bar-small></app-blue-separation-bar-small>
    </div>
    <div class="content-section">

      <!--Boucle team-->
      <div class="team" *ngFor="let team of myTeamTab; let i = index">
        <div *ngIf="i<3">
          <div style="position:absolute;margin-top:-6px;width:350px;">
            <app-blue-separation-bar-small></app-blue-separation-bar-small>
          </div>
          <div class="dataTeam">
            <img class="logoGame" src="../../../../assets/images/hexa_white/{{team.game._id}}.png">
          </div>
          <div class="infoTeamView dataTeam">
            <div>
              <h1><a href="team/{{team._id}}">[{{team.tag}}] {{team.name}}</a></h1>
            </div>
            <div>
              <h2>{{team.players.length}} membres</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="position:absolute;margin-top:-6px;width:350px;margin-left:70px">
      <app-blue-separation-bar-small></app-blue-separation-bar-small>
    </div>
    <a href="/team" class="myButton">AFFICHER <font style="color:#0071bc;">PLUS</font></a>
  </div>


  <div class="col-md-12 col-lg-4 bloc">
    <h1>RESEAUX <font style="color:#0071bc;">SOCIAUX</font></h1>
    <div class="content-section">
      <table>
        <div style="position:absolute;margin-top:-6px;width:350px;">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
        <tr>
          <td>
            <i class="fa fa-facebook fa-3x" aria-hidden="true" style="margin-left:8px;"></i>
          </td>
          <td>
            <a class="fatFont" href="">Facebook</a>
          </td>
        </tr>
        <div style="position:absolute;margin-top:-6px;width:350px;">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
        <tr>
          <td>
            <i class="fa fa-twitter fa-3x" aria-hidden="true" style="margin-left:8px;"></i>
          </td>
          <td>
            <a class="fatFont" href="">Twitter</a>
          </td>
        </tr>
        <div style="position:absolute;margin-top:-6px;width:350px;">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
        <tr>
          <td>
            <i class="fa fa-twitch fa-3x" aria-hidden="true" style="text-align: center;"></i>
          </td>
          <td>
            <a class="fatFont" href="">Twitch</a>
          </td>
        </tr>
        <div style="position:absolute;margin-top:-6px;width:350px;">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
        <tr>
          <td>
            <i class="fa fa-youtube fa-3x" aria-hidden="true" style="margin-left:5px;"></i>
          </td>
          <td>
            <a class="fatFont" href="">Youtube</a>
          </td>
        </tr>
        <div style="position:absolute;margin-top:-6px;width:350px;">
          <app-blue-separation-bar-small></app-blue-separation-bar-small>
        </div>
      </table>
    </div>
    <a href="/profile" class="myButton">AFFICHER <font style="color:#0071bc;">PLUS</font></a>
  </div>
</div>
