.container-fluid{
  background :#1c1c1b;
  padding-bottom: 1em;
  padding-top: 1em;
  margin-top:-5px;
}

h1{
  text-align: center;
}

.content-section{
  width:350px;
  height:240px;
  background: #1F1F1D;
  background: -webkit-linear-gradient(left, #1c1c1b, #1a2124, #172b37, #153245, #153245, #153245, #172b37, #1a2124, #1c1c1b); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, #1c1c1b, #1a2124, #172b37, #153245, #153245, #153245, #172b37, #1a2124, #1c1c1b); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, #1c1c1b, #1a2124, #172b37, #153245,#153245,#153245, #172b37, #1a2124, #1c1c1b); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, #1c1c1b, #1a2124, #172b37, #153245,#153245,#153245, #172b37, #1a2124, #1c1c1b); /* Standard syntax */
  margin-left: auto;
  margin-right: auto;
}

.logoGame{
  height:60px;
  margin-top:-30px;
  margin-left:20px;
  margin-bottom:10px;
}
.team a{
  color:white;
}
.team a:hover{
  color:#0071bc;
}
.dataTeam{
  display:inline-block;
}
.infoTeamView{
  margin-top: 15px;
  margin-left:15px;
}
.infoTeam h1, .infoTeam h2 {
  text-align: left;
}

.test{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
}

.bloc{
  padding-top:20px;
  padding-bottom:30px;
}
/*BUTTON*/
.myButton {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #40403f), color-stop(1, #21211f));
  background:-moz-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:-webkit-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:-o-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:-ms-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:linear-gradient(to bottom, #40403f 5%, #21211f 100%);
  background-color:#40403f;
  border:1px solid black;
  color:white;
  font-size: 20px;
  display:block;
  cursor:pointer;
  padding:2px 28px;
  text-decoration:none;
  text-shadow:0px 1px 0px #21211f;
  margin-top: 15px;
  width:155px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #21211f), color-stop(1, #40403f));
  background:-moz-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:-webkit-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:-o-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:-ms-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:linear-gradient(to bottom, #21211f 5%, #40403f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21211f', endColorstr='#40403f',GradientType=0);
  background-color:#21211f;
}

.myButton:active {
  position:relative;
  top:1px;
}
