<div class="container-fluid">
  <div class="col-xs-6 col-md-4">
    <h1>MES <font style="color:#0071bc;">AMIS</font></h1>
    <div class="content-section">

    </div>
    <a href="/profile" class="myButton">AFFICHER <font style="color:#0071bc;">PLUS</font></a>
  </div>

  <div class="col-xs-6 col-md-4">
    <h1>MES <font style="color:#0071bc;">TEAMS</font></h1>
    <div class="content-section">

    </div>
    <a href="/profile" class="myButton">AFFICHER <font style="color:#0071bc;">PLUS</font></a>
  </div>

  <div class="col-xs-6 col-md-4">
    <h1>RESEAUX <font style="color:#0071bc;">SOCIAUX</font></h1>
    <div class="content-section">

    </div>
    <a href="/profile" class="myButton">AFFICHER <font style="color:#0071bc;">PLUS</font></a>
  </div>
</div>
