*{
  font-family: Rhanoll;
  font-size: 16pt;
  color:white;
}

.form{
  border-bottom: 2px solid #0071bc;
  margin-bottom: 30px;
  width: 250px;
  text-align: left;
  margin-left: 40%;
  margin-top: 10px;
  background : url('/../../../../assets/images/degrade_title.png');
  background-position: center;
}

div {
  font-family: Rhanoll;
  color:white;
}

p{
  font-size: x-large;
  color: #bdbdbd !important;
  line-height:18px;
}

h1, h3, h4{
  color: white !important;
}


h1{
  font-size: 35px;
  margin-bottom: 0px;
}
h2{
  font-size: xx-large;
  margin-bottom: 0px;
}
.profil-banner{
  margin-top: -78px;
}
.profil-banner h2, .profil-banner h1{
  margin-top:-6px;
}
.banner{
  margin-bottom:-17px;
}
#flag{
  margin-top:-8px;
  height:22px;
  margin-right:10px;
}
.img-team{
  max-height:150px;
  max-width:150px;
}

.imageHeader{
  width: 100%;
  margin-top:50px;
}

.subMenu{
  width:100%;
  background:green;
  color:white;
}






.contentG{
  height: 100%;
  border-right: solid;
  border-width: 4px;
  border-color:#0071bc;
  clear:both;
}

.contentD{
  float:left;
  width:65%;
  height: 100%;
  background-color: #1A1A1A;
  min-height : 700px;
}


.nav.nav-tabs{
  margin-top:-63px;
  padding-left: 10px;
  background-color:black;
  color:white;
  height: 40px;
  border-bottom:none;
}

.home{
  margin-left: 20px;
}

.title {
  text-align: center;
  height: 100%;
  width: 250px;
  background-image:url("../../../../assets/images/Degrade_Title.png");
  border-bottom: solid;
  border-top: solid;
  border-color: #0071bc;
  border-width: 2px;
}

.onglet{
  color: #0071bc;
  background-color: black;
  height:40px;

}



a.onglet{
  color:white;
  background: black;
  padding-left:30px;
  padding-right:30px;
}

a.onglet.active{
  color: #0071bc;
  border-bottom: 3px solid #0071bc;
  background: black;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus > a.onglet.active {
  color: #0071bc;
  background-color: black;
  border:0px;
  border-bottom:3px solid #0071bc;
  cursor: default;
}

.nav > li > a:hover,
.nav > li > a:focus {
  text-decoration: none;
  background: black;
  border: 0px;
  color:white;
  border-bottom: 3px solid #0071bc;
}
/*.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus > a.onglet.active {
  color: #0071bc;
  background-color: black;
  border:0px;
  border-bottom:solid;
  border-bottom-width: 3px;
  border-bottom-color:#0071bc;
  cursor: default;
}

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background: black;
  border: 0px;
  color:white;
  position:relative;
  margin-bottom:-3px;
  border-bottom: 3px solid #0071bc;
}*/

.tab-content{
  padding-left:30px;
  background-color: #1A1A1A;
}

.tab-pane.active{
  background-color: #1A1A1A;
  min-height : 500px;
}

.tab-pane.active{
  background-color: #1A1A1A;
  min-height : 500px;
}


.clear{clear:both}

.connectButton
{
  background-color: #0071BC;
  color: white;
  border: solid white 1px;
  font-size: 15pt;
  font-family: Rhanoll;
  width: 10%;
  height: 30px;
  border-radius: 5%;
  margin: 1%;
}
.img{
  margin-top: -5px;
}
