<html>
<header>

</header>

<body *ngIf="response">

<div class="divTitle" *ngIf="response">
  <h1>{{response.name}}  {{response.tag}} <img src="../../../../assets/images/{{response.country}}.png" alt="FLAG" id="flag" height="20" width="35"/></h1>
  <h2>{{response.game.name}}</h2>
</div>

<img class="imageHeader" src="../../../assets/images/{{response.game.name}}.jpg">


<div class="Gauche">

  <div class="navGauche">

    <div class="col-xs-1">
      <div class="hexagon hexagon1">
        <div class="hexagon-in1">

          <div class="hexagon-in2">

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contentG">
    <form class="form">
      <h3 class="title"> INFORMATION TEAM</h3>
      <p>Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum</p>
    </form>

    <form class="form" *ngIf="response">
      <h3 class="title"> <h3>MEMBRES {{response.players.length}} JOUEURS</h3>
        <p>{{response.players.length}} Membres connectés</p></h3>
      <ul>
        <li *ngFor="let item of response.players; let i = index">
          {{response.players[i].user.lastname}} {{response.players[i].user.firstname}}
        </li>
      </ul>
    </form>
  </div>

</div>

<div class="contentD">
  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li class="active"><a href="#home" role="tab" data-toggle="tab" class="onglet">GENERAL</a></li>
    <li><a href="#profile" role="tab" data-toggle="tab" class="onglet">TEAM STATS</a></li>
    <li><a href="#messages" role="tab" data-toggle="tab" class="onglet">RECRUTEMENT</a></li>
    <li><a href="#settings" role="tab" data-toggle="tab" class="onglet">PARAMETRES TEAM</a></li>

  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="home"  *ngIf="response || playerById" >
      <br/>
      <div class="title">
        GENERAL
      </div>
      <br>
      <h2>Capitaine d'équipe : </h2><p>{{response.captain.user.lastname}} {{response.captain.user.firstname}}</p><br>
      <h2>Membre de l'équipe :</h2> <p *ngFor="let item of response.players; let i = index">
      {{response.players[i].user.lastname}} {{response.players[i].user.firstname}}</p>
    </div>
    <div class="tab-pane" id="profile">
      <br/>
      <div class="title">
        TEAM STATS
      </div>  <br/><br/><br/><br/>
    </div>
    <div class="tab-pane" id="messages">
      <br/>
      <div class="title">
        RECRUTEMENT
      </div>
      Nous recherchons un joueur d'un grand talent afin d'être à la hauteur des autres membres du groupe !
      <br/><br/><br/><br/>
    </div>
    <div class="tab-pane" id="settings" *ngIf="response">
      <br/>
      <div class="title">
        GESTION DES MEMBRES
      </div><br>
      <h2>Supprimer un membre</h2><br><p *ngFor="let item of response.players; let i = index">
      {{response.players[i].user.lastname}} {{response.players[i].user.firstname}}
      <img src="../../../assets/images/delete.png" alt="exemple onclick" style="cursor:pointer;" onclick="alert('On va tout faire pété !');" /></p>
      <br>
      <h2>Ajouter un membre</h2>

      <form method="post" (submit)="submitAddForm(response)" >

        Team id : <input type="text" id="teamId" style="color:black" placeholder="Nom du player account" required autocomplete="off"/>

        Player Account Id : <input type="text" id="playerAccountId"  style="color:black"  placeholder="Identifiant du joueur" required autocomplete="off"/>

        <input class = "connectButton" type = "submit" value="Valider" name="Valider"/>

      </form>

      <br>
      <div class="title">
        MODIFICATION DE LA TEAM
      </div>
      <br>

      <form method="post" (submit)="submitUpdateTeamForm(response._id, response)">
        Changer le nom de la team : <input type="text" id="nvNom" style="color:black" placeholder="Nouveau Nom de Team"/>
        Nouveau TAG <input type="text" id="nvTag" style="color:black" placeholder="Nouveau TAG de la Team"/>
        Nouveau Capitaine :
        <select style = "color:black" id="nvCaptain" *ngIf="response">
          <option (click)="onSelectPlayer(response.captain.user.id)" style = "color:black" *ngFor="let item of response.players; let i = index" value="{{response.captain.user._id}}">{{response.players[i].user.lastname}} {{response.players[i].user.firstname}}
          </option>
        </select>
        <input class = "connectButton" type = "submit" value="Valider" name="Valider"/><br>
      </form>

      Changer l'avatar : <input type="file" id="nvImage"/><br>
    </div>
  </div>

</div>
<div class="clear"></div>
<footer><br/><br/>FOOTER<br/><br/></footer>

</body>


</html>
