<div class="col-md-6 global">
  <div class="hexagon hexagon1">
    <div class="hexagon-in1">
      <div class="hexagon-in2"></div>
    </div>
  </div>

  <div class="infoTeam">
    <div class="nameGame">
      {{team.game}}
    </div>
    <div>
      <img class="logoCountry" src="../../../../assets/images/FrnchFlag.png"/>
      <h1><a href=""> {{team.name}} - [{{team.tag}}]</a></h1>
    </div>
    <div>
      <h2><font style="color:gray;font-size: 25px;">Capitaine : </font><a href="">{{team.captain.user.username}}</a></h2>
    </div>
    <div>
      <h2><font style="color:gray;font-size: 25px;">Rang :</font> Master Zbra <font style="color:gray;font-size: 25px;margin-left:100px;">Membres :</font> 4</h2>
    </div>
  </div>
  <!--<div class="infoTeam">-->
    <!--<div class="nameGame">-->
      <!--Counter Strike : Global Offensive-->
    <!--</div>-->
    <!--<div>-->
      <!--<img class="logoCountry" src="../../../../assets/images/FrnchFlag.png"/>-->
      <!--<h1><a href="">A la Zeub - [ZeuB]</a></h1>-->
    <!--</div>-->
    <!--<div>-->
      <!--<h2><font style="color:gray;font-size: 25px;">Capitaine : </font><a href="">Toto va à l'école</a></h2>-->
    <!--</div>-->
    <!--<div>-->
      <!--<h2><font style="color:gray;font-size: 25px;">Rang :</font> Master Zbra <font style="color:gray;font-size: 25px;margin-left:100px;">Membres :</font> 4</h2>-->
    <!--</div>-->
  <!--</div>-->
</div>


<!--<div>-->
<!--<div>-->
<!--<img  src=""/>-->
<!--<h1>{{teamGetById.name}} - {{teamGetById.tag}}</h1>-->
<!--</div>-->
<!--<div>-->
<!--<h2>{{teamGetById.captain}}</h2>-->
<!--</div>-->
<!--<div>-->
<!--<h3>{{team.rank}}</h3>-->
<!--<h3>{{team.nbPlayers}}</h3>-->
<!--</div>-->
<!--<div>-->
<!--{{teamGetById.game}}-->
<!--</div>-->
<!--</div>-->
