nav {
  z-index: 10;
  top: 0px;
  position: absolute;
  width: 100%;
}

nav li{
  display: inline-flex;
  height: 40px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 40px;
}

nav li a{
  text-decoration: none;
  font-family: Rhanoll;
  text-transform: uppercase;
}

#menu{
  text-align: right;

  margin-right: 10vw;
  padding-left: 0;
  font-size:30px;
}

.menuPage{
  margin: 0 0.3em;
  color:white;
}

.menu_icon2{
  font-size:30px;
}

.menuPage:hover{
  color: #0071bc;
  transition: color 0.2s;
}
.activePage{
  color: #0071bc;
}

/*nav {
  z-index: 10;
  top: 0px;
  position: absolute;
  width: 100%;
}

nav ul#menu{
  padding: 0px;
  background-color: black;
  text-align: center;
  margin-top: 0px;
  text-ali: right;
  width: 100%;
}

nav li{
  display: inline-flex;
  height: 40px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  line-height: 40px;
}
nav li.menu_letter {
  font-size: x-large;
  margin-right: 0.3em;
}

nav li.menu_icon {
  width: 20px;
  margin-top: 2px;
}

nav li.menu_icon.right_side_menu {
  margin-right: 10%;
}


nav li a{
  text-decoration: none;
  color: white;
  font-family: Rhanoll;
  text-transform: uppercase;
}
*/


