<div class="container">
  <app-blue-separation-bar-small></app-blue-separation-bar-small>

  <div class="row align-items-center">
    <div class="hidden-sm hidden-xs col-md-6 col-lg-6 ">
      <img src="/../../../../assets/images/img-tunnelco-01.png" alt="Photo de montagne" id="imgLog"/>
    </div>

    <div class="col-md-12 col-lg-6"> <!--Bloc log-->
      <div>
        <h1>Bienvenue Sur NoName Gaming</h1>

        <div class="menuLogIn">
          <ul class="tab">
            <li><a href="javascript:void(0)" class="tablinks" (click)="authLiClick($event, 'signUp')">S'inscrire</a>
            </li>
            <li><a href="javascript:void(0)" class="tablinks active" (click)="authLiClick($event, 'logIn')">Se
              Connecter</a></li>
            <li class="liEnd"></li>
          </ul>
        </div>

        <div id="logIn" class="formStyle">
          <div *ngIf="status==401" id="errorMessage">
            <strong>{{error.errorMessage}}</strong>
          </div>

          <form (submit)="checkAuth()">
            <input (keyup)="entryVerification($event,'login')" (change)="entryVerification($event,'login')"
                   class="inputGray" id="emailAuth" type="text" placeholder="Email Adress/Username" required>
            <input (keyup)="entryVerification($event,'password')" (change)="entryVerification($event,'password')"
                   class="inputGray" id="pwdAuth" type="password" placeholder="Mot de passe" required>
            <button id="logInSubmitButton" class="myButton" disabled>Identifiez-vous</button>
          </form>

          <div class="facebookButton">
            <button class="buttonFacebook" disabled>
              <img class="fb_img" src="../../../../assets/images/facebook_blanc.PNG">
              <div>Identifiez-vous depuis Facebook</div>
            </button>
          </div>
        </div>

        <div id="signUp" class="formStyle">
          <form (ngSubmit)="onSubmit($event)">
            <input (keyup)="entryVerification($event,'email')" (change)="entryVerification($event,'email')"
                   class="inputGray" id="signUpButton" type="text" placeholder="Email Adress/Username" required>
            <button class="myButton">S'inscrire avec une adresse mail</button>
          </form>

          <button class="buttonFacebook" disabled>
            <img class="fb_img" src="../../../../assets/images/facebook_blanc.PNG">
            <div>S'inscrire depuis Facebook</div>
          </button>
        </div>

      </div>

      <div class="state-message">
        <div [hidden]="!submitted">
          <div *ngIf="infoMessage" class="alert alert-success infoMessage">
            <strong>Success!</strong> {{infoMessage}}
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger errorMessage">
            <strong>Error!</strong> {{errorMessage}}
          </div>

        </div>
      </div>

    </div><!--/Bloc log-->
  </div><!--row-->
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
</div>

