body,html
{
  padding: 0;
  margin: 0;
}
.container{
  -webkit-transform: translateY(35%);
  -moz-transform: translateY(35%);
  -ms-transform: translateY(35%);
  -o-transform: translateY(35%);
  transform: translateY(35%);
}
#imgLog{
   width:100%;
}
input:focus {
  outline:  none;
  background-color: #777777;
}
.state-message {
  margin-top: 5px;
}
#sign img {
  max-height: 30em;
  margin-top: 15em;
}
h1
{
  text-align: center;
  font-family: Rhanoll;
  color: white;
  font-size: 35px;
}
ul.tab {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
ul.tab li
{
  float: left;
  width:50%;
  background-color: #4D4D4D;
  border-radius: 8px 8px 0px 0px;
}
ul.tab li a {
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  width:100%;
  border-radius: 8px 8px 0px 0px;
  border: 2px solid white;
  color: white;
  font-family: Rhanoll;
  font-size: 20px;
}
ul.tab li a:hover
{
  border-radius: 8px 8px 0px 0px;
  background-color: #afafaf;
}
ul.tab li a:focus, .active
{
  background-color: #333333;
  border-radius: 8px 8px 0px 0px;
  border-bottom: 2px solid #333333;
}

.fb_img {
  margin-bottom: 2px;
  margin-right: 5px;
  margin-top:-3px;
  height:25px;
}


.buttonFacebook
{
  background-color: #4861a3;
  color: white;
  border:0px;
  font-size: 24px;
  font-family: Rhanoll;
  width: 85%;
  margin: 1%;
  right: 5%;
  text-align: center;
}
.buttonFacebook:hover
{
  background-color: #0071bc;
}
button {
  margin-top:15px;
}
.buttonFacebook div {
  display: inline-block;
  margin-top:5px;
}

.mainWindow
{
  position: absolute;
  top:15%;
  left: 15%;
  right: 15%;
  height: 50%;
  z-index: 12;

}
#sign{
  max-height: 500px;
  margin-top: -40%;
  margin-left: -15%;
}
.row
{


  margin-top: 1%;
  padding: 2%;
}
.inputGray
{
  background-color: #333333;
  border-bottom: solid 1px #8C8C8C;
  font-family: "Rhanoll";
  font-size: 22px;
  color: white;
  margin: 1%;
  border-radius: 2%;
  width: 95%;
  padding-left: 1%;
  padding-right: 1%;
}
.menuLogIn
{
  text-align: left;
}
.subtitleWhite
{
  font-family: "Rhanoll";
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}
.formStyle
{
  padding: 2%;
  background-color: #333333;
  animation-name: anim;
  animation-duration: 2s;
  text-align: center;
  border-left: 2px solid white;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  border-top: 2px solid #333333;
  border-radius: 0 0 10px 10px;
}



#facebookButton
{
  text-align: right;
  display: inline;
}
#signUp
{
  display: none;
}
#errorMessage
{
  color: red;
  background-color: #FFECEC;
  border:solid 2px #F7B3AF;
  border-radius: 5%;
  margin: 1%;
}

p
{
  color: white;
}
img
{
  vertical-align: middle;
}
@font-face
{
  font-family: "Rhanoll";
  src: url("../../../../assets/fonts/rhanoll/Rhanoll.ttf");
}
@keyframes anim {
  from {opacity: 0;}
  to {opacity: 1;}
}

.myButton {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #40403f), color-stop(1, #21211f));
  background:-moz-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:-webkit-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:-o-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:-ms-linear-gradient(top, #40403f 5%, #21211f 100%);
  background:linear-gradient(to bottom, #40403f 5%, #21211f 100%);
  background-color:#40403f;
  border:1px solid black;
  color:white;
  font-size: 24px;
  font-family: "Rhanoll";
  src: url("../../../../assets/fonts/rhanoll/Rhanoll.ttf");
  display:inline-block;
  cursor:pointer;
  padding:2px 28px;
  text-decoration:none;
  text-shadow:0px 1px 0px #21211f;
  width:85%;
  text-align: center;
}

.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #21211f), color-stop(1, #40403f));
  background:-moz-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:-webkit-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:-o-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:-ms-linear-gradient(top, #21211f 5%, #40403f 100%);
  background:linear-gradient(to bottom, #21211f 5%, #40403f 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#21211f', endColorstr='#40403f',GradientType=0);
  background-color:#21211f;
}

.myButton:active {
  position:relative;
  top:1px;
}
