<div class="container-fluid">
  <div class="col-xs-6">
    <h1>HISTORIQUE <font style="color:#0071bc;">TOURNOIS</font></h1>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
    <div class="content-section">


    </div>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
  </div>

  <div class="col-xs-6">
    <h1>HISTORIQUE <font style="color:#0071bc;">EVENEMENTS</font></h1>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
    <div class="content-section">


    </div>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
  </div>
</div>
