<div id="global">
  <div class="section">
    <h1>HISTORIQUE <font style="color:#0071bc;">TOURNOIS</font></h1>
    <div class="content-section">


    </div>
  </div>
  <div class="section">
    <h1>HISTORIQUE <font style="color:#0071bc;">EVENEMENTS</font></h1>
    <div class="content-section">


    </div>
  </div>
</div>

<div id="separation">
  <svg preserveAspectRatio="none" viewBox="0 -4 100 104" height="10" width="100%" style="">
    <path d="M0 50 L15 0 L85 0 L100 50 L85 100 L15 100 Z" style="fill: #0071bc; stroke: #0071bc;"/>
  </svg>
</div>
