<div id="global">
  <h1>MES <font style="color:#0071bc;">JEUX</font></h1>
  <div *ngIf="userGames" id="gameList">
    <ul>
      <li *ngFor="let game of userGames">
        <input #selector type="checkbox" class="checkboxGame" name="{{game.name}}" id="{{game._id}}" (change)="selector.checked"/>
        <label for="{{game._id}}">
          <a href="/player-account/{{game._id}}"><img class="logoGame" src="../../../../../assets/images/hexa_game/{{game._id}}.png" alt="{{game.name}}" ></a>
        </label>
      </li>
    </ul>
  </div>

  <a *ngIf="userGames" (click)="openSelectGameModal()" class="myButton">AJOUTER UN<font style="color:#0071bc;"> JEU</font></a>

  <div *ngIf="!userGames" id="noGame">
    <div>
      <p>
        PAS DE JEUX
        <br>
        VOUS N'AVEZ PAS ENCORE CONFIGURER VOS JEUX FAVORIS.
      </p>
      <a (click)="openSelectGameModal()">SELECTIONNER LES JEUX MAINTENANT >></a>
    </div>
  </div>
</div>


<div id="selectGameModal" class="modal">
  <div class="modal-content">
    <span class="cross" (click)="closeSelectGameModal()" title="Fermer">&times;</span>
    <div class="container">
      <div class="col-md-12" id="addGame">
        <form (ngSubmit)="addGame($event)">
          <h2>Ajouter des jeux</h2>
          <div *ngIf="games" id="selectGame">
            <ul>
              <li *ngFor="let selectGame of games">
                <input #selector type="checkbox" class="checkboxGame checkboxGameSelection" name="{{selectGame.name}}" id="{{selectGame._id}}" (change)="selector.checked"/>
                <label for="{{selectGame._id}}">
                  <img *ngIf="selector.checked" class="logoGameModal" src="../../../../../assets/images/hexa_game/checked/{{selectGame._id}}.png" alt="{{selectGame.name}}" >
                  <img *ngIf="!selector.checked" class="logoGameModal" src="../../../../../assets/images/hexa_game/{{selectGame._id}}.png" alt="{{selectGame.name}}" >
                </label>
              </li>
            </ul>
          </div>
          <div class="col-md-12 btnContainer">
            <button class="myButton" type="button" (click)="closeSelectGameModal()">Annuler</button>
            <button class="myButton" type="submit">Ajouter</button>
          </div>
        </form>
      </div>

    </div>
  </div>
</div>


<div id="addPlayerAccountModal" class="modal">
  <div class="modal-content">
    <span class="cross" (click)="closeAddPlayerModal()" title="Fermer">&times;</span>
    <div class="container">
      <div class="col-sm-12 row" *ngIf="divForms">
        <h2>Ajouter des jeux</h2>
        <div class="addPlayerAccountContainer" *ngFor="let form of divForms;let i = index;">
          <br><br>
          <p>{{form.gameName}}</p>
          <input class="form-control col-sm-6" type='text' id='playerAccount{{i}}' placeholder='{{form.placeHolder}}'>
          <button (click)='createPlayerAccount(i)' id="AddPlayerAccountBtn{{i}}" class="btn btn-default submitButton">Valider</button><br>
        </div>
      </div>
      <form (ngSubmit)="onSubmit()">
        <div class="col-sm-12 btnContainer">
          <button class="myButton" type="button" (click)="closeAddPlayerModal()">Annuler</button>
          <button id="AddPlayerSubmitButton" class="myButton" disable="true">Confirmer</button>
        </div>
      </form>

    </div>
  </div>
</div>
