<div id="global">
  <h1>MES <font style="color:#0071bc;">JEUX</font></h1>
  <div id="content-hexagon">
    <div id="hexaRight3">
      <div>
        <div class="hexagon hexagon4"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
      </div>
    </div>

    <div id="hexaLeft3">
      <div>
        <div class="hexagon hexagon4"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
      </div>
    </div>

    <div id="hexaRight2">
      <div>
        <div class="hexagon hexagon3"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
      </div>
    </div>

    <div id="hexaLeft2">
      <div>
        <div class="hexagon hexagon3"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
      </div>
    </div>

    <div id="hexaRight1">
      <div>
        <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
      </div>
    </div>

    <div id="hexaLeft1">
      <div>
        <div class="hexagon hexagon2"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
      </div>
    </div>

    <div id="hexaCenter">
      <div>
        <div class="hexagon hexagon1"><div class="hexagon-in1"><div class="hexagon-in2"></div></div></div>
      </div>
    </div>
  </div>

  <div id="noGame">
    <div>
      <p>
        PAS DE JEUX
        <br>
        VOUS N'AVEZ PAS ENCORE CONFIGURER VOS JEUX FAVORIS.
      </p>
      <a href="">SELECTIONNER LES JEUX MAINTENANT >></a>
    </div>
  </div>

  <a href="" class="myButton">AFFICHER <font style="color:#0071bc;">PLUS</font></a>
</div>
<div id="separation">
  <svg preserveAspectRatio="none" viewBox="0 -4 100 104" height="10" width="100%" style="">
    <path d="M0 50 L15 0 L85 0 L100 50 L85 100 L15 100 Z" style="fill: #0071bc; stroke: #0071bc;"/>
  </svg>
</div>
