.lastMatchs
{
  margin: 75px auto 0 auto;
  width: 70vw;
  font-size: 20px;

}
.lastMatchs h1
{
  margin-bottom: 1px;
}
.blue
{
  color: dodgerblue;
}
.div-last-game
{
  display: inline-block;
  width: 32vw;
  overflow: hidden;
  margin-top: 3em;
  margin-bottom: 3em;
}
.games
{
  margin: 18px 0 10px 0;
}
.teamsLastMatchs
{
  margin: auto;
}
.statsLastMatchs{
  text-align: left;
}
.teamsLastMatchs, .statsLastMatchs
{
  padding: 8px 10px 14px 10px;
}

.imgTeam{
  width:100%;
}

.blue2{
  color: dodgerblue;
}

.score{
  display: flex;
}
