<div id="backgroundBanner">
  <img src="../../../assets/images/banner-LOL-01.png" style="width:100%;">
</div>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-banner></app-user-banner>
<app-user-info></app-user-info>
<app-user-news></app-user-news>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-social></app-user-social>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-games></app-user-games>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-results></app-user-results>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-historic></app-user-historic>
