

<div class="banner">
  <img class="imageHeader" src="../../../../assets/images/banner-csgo-01.png">
  <!--<img class="imageHeader" src="../../../../assets/images/banner-{{response.game._id}}.png">-->
</div>
<div class="blue-bar">
  <app-blue-separation-bar></app-blue-separation-bar>
</div>
<div *ngIf="userGetById" class="container">
  <div class="row profil-banner">
    <div class="col-md-2 avatar">
      <img src="../../../../assets/images/hexapic_profil.png" class="img-profile">
    </div>
    <div class="col-md-10 infoUser">
      <h1>{{userGetById.username}}</h1>
      <!--<h1><img src="../../../../assets/images/{{userGetById.country}}.png" id="flag">{{userGetById.username}}</h1>
      <!--id="provenance"-->
      <h3><img src="../../../../assets/images/FR.png" id="flag">{{userGetById.firstname}} {{userGetById.lastname}}</h3>
    </div>
  </div>
</div>


<div class="subMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-2"></div>
      <ul class="col-md-10 tab">
        <li (click)="changeOnglet($event, 'general')" class="tablinks active">GENERAL</li>
        <li (click)="changeOnglet($event, 'statistics')" class="tablinks">STATISTIQUES</li>
        <li (click)="changeOnglet($event, 'parameters')" class="tablinks">PARAMETRES</li>
      </ul>

    </div>
  </div>
</div>

 <div id="general" class="content">
    <app-user-news></app-user-news>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
    <app-user-social></app-user-social>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
    <app-user-games [master]="master"></app-user-games>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
    <app-user-results></app-user-results>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>
    <app-user-historic></app-user-historic>
  </div>

  <div id="statistics" class="content">
    Prochainement les statistiques !
  </div>

  <div id="parameters" class="content">
    <app-user-banner></app-user-banner>
  </div>


<!-- <div id="backgroundBanner">
  <img src="../../../assets/images/banner-586f56f5b9fde402faa33fdc.png" style="width:100%;">
</div>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-banner></app-user-banner>
<app-user-info></app-user-info>
<app-user-news></app-user-news>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-social></app-user-social>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-games></app-user-games>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-results></app-user-results>
<app-blue-separation-bar-small></app-blue-separation-bar-small>
<app-user-historic></app-user-historic> -->
