<div class="container signupRoad">
  <app-blue-separation-bar-small></app-blue-separation-bar-small>

  <div id="global">
    <h2>Création de <font style="color:#0071bc;">votre équipe</font></h2>
    <div class="description">
      Bravo ! Votre équipe est désormais créée !
    </div>
    <div class="row">
      <div class="col-md-6"></div>
      <div class="col-md-3 col-sm-8 col-8"></div>
      <div class="col-md-3 col-sm-4 col-4">
        <img id="step" src="../../../../../assets/images/step5.png" alt="5 / 5">
      </div>
    </div>
    <app-blue-separation-bar-small></app-blue-separation-bar-small>

  <form (ngSubmit)="onSubmit($event)">
    <br>
    <div class="row">
      <div class="col-md-6">
        <button class="myButton" type="submit" ><h2>Retour aux équipes</h2></button>
      </div>
      <div class="col-md-6">
        <button type="button" (click)="goMyTeam()" class="myButton"><h2>Consulter mon équipe</h2></button>
      </div>
    </div>
  <br>
  </form>
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
</div>
