<p>
  test-address-service works!
</p>

<ul class="games">
  <li *ngFor="let address of addressApiJson" (click)="onSelectAddress(address._id)">
    <span class="item" *ngIf="address.active == true">{{address._id}}</span>{{address.postCode}},{{address.city}},{{address.country}},{{address.line}}
  </li>
</ul>

<form  class="form" (submit)="getItemAddressById(idUser.value)">
  <h2>Get Address by ID :</h2>
  <label>User ID: </label>
  <input type="text" id="idUser" value="{{idUser}}"/>
  <input type="submit">
</form>

<form  class="form" (submit)="getItemAddressByIdAddress()">
  <h2>Get Address by ID Address:</h2>
  <label>Address ID :</label>
  <input type="text" id="idAddress" value="{{idAddress}}"/>
  <input type="submit">
</form>

<h2>Add address:</h2>
<form  class="form"(ngSubmit)="addAddress()">
  <label>idUser: </label>
  <input type="text" id="UserID" value="{{UserID}}"/>

  <label>PostCode:</label>
  <input type="number" id="postCode" value="{{postCode}}" />

  <label>City:</label>
  <input type="text" id="city" value="{{city}}" />

  <label>Country:</label>
  <input type="text" id="country" value="{{country}}" />

  <label>Line:</label>
  <input type="text" id="line" value="{{line}}" />

  <button type="submit">Submit</button>
</form>

<h2>Change address:</h2>
<form  class="form" (submit)="ChangeAddressById()">
  <div>
    <label>idUser: </label>
    <input type="text" id="idUserChange" value="{{idUserChange}}"/>

    <label>idAddress: </label>
    <input type="text" id="idAddressChange" value="{{idAddressChange}}"/>

    <label>postCode: </label>
    <input type="number" id="postCodeChange" value="{{postCodeChange}}"/>

    <label>city:</label>
    <input type="text" id="cityChange" value="{{cityChange}}" />

    <label>country:</label>
    <input type="text" id="countryChange" value="{{countryChange}}"/>

    <label>line:</label>
    <input type="text" id="lineChange" value={{lineChange}} />

    <button type="submit">Submit</button>
  </div>
</form>

<form  class="form" (submit)="DisableAddressByIdAddress()">
  <h2>Disable Address:</h2>
  <label>idAddress: </label>
  <input type="text" id="idAddressDis" value="{{idAddressDis}}"/>
  <input type="submit">
</form>

