/* You can add global styles to this file, and also import other style files */
body{
  font-family: Rhanoll;
  background-color: #1C1C1B !important;
  margin: 0 !important;
}

.container.signupRoad {
  margin-top: 13%;
}

.signupRoad{
  background: #1d1d1b;
}
