/* You can add global styles to this file, and also import other style files */
body{
  font-family: Rhanoll;
  background-color: #1C1C1B !important;
  margin: 0 !important;
}

.container.signupRoad {
  margin-top: 13%;
}

.signupRoad{
  background: #1d1d1b;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #1073B9;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #1073B9;
}
::-webkit-scrollbar-thumb:active {
  background: #1073B9;
}
::-webkit-scrollbar-track {
  background: none;
  border-radius: 50px;
}
::-webkit-scrollbar-track:hover {
  background: none;
}
::-webkit-scrollbar-track:active {
  background: none;
}
::-webkit-scrollbar-corner {
  background: rgb(50, 50, 50);
}
