<div class="container signupRoad">
<app-blue-separation-bar-small></app-blue-separation-bar-small>

<h2>Enregistrer votre  <font style="color:#0071bc;">Team</font></h2>
<p>Vous pouvez maintenant crée votre propre équipe. <br>Dans un premier temps complété les infos général.</p>

<div id="side">

  <div class="col-md-12 board">


    <div class="board-inner">
      <ul class="nav nav-tabs" id="myTab">
        <div class="liner">
          <div id="blueText">
            Etapes
          </div>
        </div>
        <li >
          <a href="/home"  title="Rentrer les infos personnelles">
            <span class="round-tabs one"></span>
          </a></li>
        <li ><a href="/home"  title="Séléctionner les jeux">
          <span class="round-tabs two"></span>
        </a>
        </li>
        <li class="active"><a href="#prototyping"  title="Prototyping">
          <span class="round-tabs three"></span> </a>
        </li>
        <li><a href="#uidesign"  title="UI Design">
          <span class="round-tabs four"></span>
        </a></li>
        <li><a href="#doner"  title="Development">
          <span class="round-tabs five"></span> </a>
        </li>
      </ul></div>
  </div>
</div>
<app-blue-separation-bar-small></app-blue-separation-bar-small>

<form #f="ngForm" (ngSubmit)="onSubmit($event)"   class="form-inline">
<div class="form-group row">


  <div class="col-sm-6">
    <label for="checkboxCaptain"> Voulez vous être le capitaine de l'équipe?</label>
    <input type="checkbox"  id="checkboxCaptain" class="checkboxGame" name="isActive"   [(ngModel)]="isActive" >
  </div>
  <div *ngIf="isActive">
    <div class="col-sm-6">
      <div *ngIf="playerAccount" class="form-group row ">

        <input
          required
          class="form-control"
          ng2-auto-complete
          [(ngModel)]="playerAccountSelected"
          [source]="arrayOfKeyValues"
          [ngModelOptions]="{standalone: true}"
          list-formatter="value"
          placeholder="Choississez votre player account"/>
        <input type="submit">
      </div>


    </div>
  </div>





      </div>



  <pre>submitted value: <br>{{f.value | json}}</pre>





<div class="form-group row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button class="btn btn-primary pull-right" type="submit" >Next</button>

  </div>
</div>
  <div id="auto">

  </div>

</form>
  <app-blue-separation-bar-small></app-blue-separation-bar-small>
</div>
