<form #f="ngForm" (ngSubmit)="onSubmit($event)"   class="form-inline">
<div class="form-group row">


  <div class="col-sm-6">
    <label for="checkboxCaptain"> Voulez vous être le capitaine de l'équipe?</label>
    <input type="checkbox"  id="checkboxCaptain" class="checkboxGame" name="isActive"   [(ngModel)]="isActive" >
  </div>
  <div *ngIf="isActive">
    <div class="col-sm-6">
      <div *ngIf="playerAccount" class="form-group row ">

        <input
          required
          class="form-control"
          ng2-auto-complete
          [(ngModel)]="playerAccountSelected"
          [source]="arrayOfKeyValues"
          [ngModelOptions]="{standalone: true}"
          list-formatter="value"
          placeholder="Choississez votre player account"/>
        <input type="submit">
      </div>


    </div>
  </div>





      </div>



  <pre>submitted value: <br>{{f.value | json}}</pre>





<div class="form-group row">
  <div class="col-sm-6">

  </div>
  <div class="col-sm-4"></div>
  <div class="col-sm-2">
    <button class="btn btn-primary pull-right" type="submit" >Next</button>

  </div>
</div>
  <div id="auto">

  </div>

</form>
