#participants {
  display: none;
}
.participants {
  display: flex;

}
.participants__item {
  display: flex;
  max-width: 100%;
  margin: 6px 6px;
}
.participants__item__country {
  height: 55px;
  width: auto;
}
.participants__item__pseudo {
  padding: 3px 7px;
  font-size: 37px;
}
.participants__item__logo {
  height: 55px;
  width: auto;
}
